.wrapperBasket {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    padding-bottom: 37px;
}

@media(min-width:768px) {
    .wrapperBasket {
        background-color: #FFF;
    }
}

.titleBed {
    font-family: "Proxima Nova";
    font-size: 19px;
    font-weight: 600;
    text-align: left;
}

.checkboxes {
    width: 24px;
    height: 24px;
    appearance: none;
    border: 1px solid #D1D5D5;
}
.checkboxes:checked{
    background-color: #FFBC57;
    border-color: #FFBC57;
    background-image: url("data:image/svg+xml;utf8,<svg fill=%27white%27 viewBox=%270 0 20 20%27 xmlns=%27http://www.w3.org/2000/svg%27><path d=%27M7.629 13.233l-3.296-3.296a1 1 0 011.414-1.414l1.882 1.882 4.95-4.95a1 1 0 111.414 1.414l-6.364 6.364a1 1 0 01-1.414 0z%27/></svg>");
    background-repeat: no-repeat;
    background-position: center;
}

.containerPromoOrder {
    background-color: white;
    height: 644px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.confirmPhone {
    width: 316px;
    align-items: center;
    text-align: left;

}
@media(min-width:768px){
    .containerPromoOrder{
        height: auto;
        gap:10px;
        padding-top: 10px;
    }
    .dash{
        width:520px;
    }
    .confirmPhone{
        width:406px;
    }
}

.buttonShowAll {
    background: none;
    border: none;
    color: #FFBC57;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin: auto;
    z-index: 1;
}

.arrowIcon {
    transition: transform 0.3s ease;
    margin-left: 6px;
}

.rotated {
    transform: rotate(180deg);
}


.btnOrder {
    width: 350px;
    height: 50px;
    background: #FFBC57;
    border-radius: 8px;
    color: #FFF;
    margin: 0;
}

.containerPromocode {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 20px;
}

.buttonPromocode {
    background: #FFBC57;
    width: 83px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    border-radius: 8px;
    color: #FFF;
}

.dash {
    background: #C5C5C5;
    width: 520px;
    height: 2px;
    border: none;
    opacity: 0.3;
}
@media(max-width:768px){
  .dash{
    width:410px
  }
}

.inputPromocode {
    width: 257px;
    height: 50px;
    padding: 10px;
    border: 1px solid #D1D5D5;
    border-radius: 8px;
}

.inputPromocode::placeholder {
    color: #535353;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;


}

.agreeText {
    width: 330px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
}

.textBasket {
    color: #2B2929;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top: 20px;

    .textBasketNumber {
        color: #FFBC57;
    }
}

.containerBed {
    display: flex;
    gap: 20px;
    padding: 10px;
    position: relative;
    justify-content: space-around;
    margin-left: 20px;
}

.imgBed {
    width: 120px;
    height: 100px;
    border-radius: 8px;
}

.containerCount {
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    width: 120px;
    height: 50px;
    justify-content: center;
    gap: 30px;
    border: 1px solid #B1B1B1;
    border-radius: 8px;
}

.textBed {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    color: #535353;

}

.textDescription {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #2B2929;

    .textPrice {
        font-size: 20px;
        line-height: 28px;
    }
}

.bedStatus {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.containerDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.lineDotted {
    width: 108px;
    border: 1px dotted #6A6A6A;
    height: 1px;

}

li:nth-child(2) .lineDotted {
    width: 17px;
}

.togetherSum {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashBed {
    width: 520px;
    opacity: 30%;
    border: 2px solid #C5C5C5
}


.userOkay {
    color: #FFBC57;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textSum {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #2B2929;

}

.btnMath {
    background: none;
}

.btnDelete {
    background: none;
    display: flex;
    align-items: start;
}

.shadowContainer {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
        display: none;
        visibility: hidden;
        pointer-events: none;
        height: 0;
        margin: 0;
    }
}

.shadowFade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: linear-gradient(180deg,
            rgba(248, 248, 248, 0) 0%,
            rgba(248, 248, 248, 0.8) 33.85%,
            #f8f8f8 72.4%);
    pointer-events: none;
    z-index: 1;
}

.showMoreWrapper {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.hiddenOnMobile {
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.textTogether {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-align: left;
}

.promocodeDecription {
    display: flex;
    align-items: center;
    gap: 30px;
}


@media (min-width: 768px) {
    .wrapperBasket {
        width: 540px;
        padding-bottom: 30px;
        padding-right: 10px;
        border-radius: 8px;
    }

    .checkboxes {
        width: 20px;
    }

    .containerPromocode {
        flex-direction: row;
        margin-left: 20px;
    }

    .inputPromocode {
        width: 176px;
    }

    .lineDotted {
        width: 218px;
    }

    li:nth-child(2) .lineDotted {
        width: 128px;
    }

    .titleBed {
        width: 276px;
    }
}