.articles__mainButton, .articles__subtitle, .articles__arrow, .articles__link, .articles__titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles__listLink {
  display: flex;
  align-items: center;
}

.articles__link {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

.articles {
  padding: 60px 0 60px 0;
  border: none;
  border-radius: 0;
  margin: 0;
  background-color: #F8F8F8;
}
@media screen and (min-width: 1290px) {
  .articles {
    padding: 70px 0 70px 0;
    border: none;
    border-radius: 0;
    margin: 0;
  }
}
.articles__title {
  width: 410px;
  height: auto;
  color: #2B2929;
  line-height: 1.33;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (min-width: 1290px) {
  .articles__title {
    width: 645px;
    height: auto;
    color: #2B2929;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 600;
  }
}
.articles__titleBox {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 auto 23px auto;
  gap: 30px;
  padding-top: 5px !important;
}
@media screen and (min-width: 1200px) {
  .articles__titleBox {
    width: 410px;
    height: auto;
  }
}
@media screen and (min-width: 1290px) {
  .articles__titleBox {
    padding: 0;
    border: none;
    border-radius: 0;
    margin: 0 0 40px 0;
    width: 1290px;
    height: auto;
  }
}
.articles__link {
  gap: 10px;
  color: #FFBC57;
  line-height: 1.26;
  font-size: 19px;
  font-weight: 600;
  padding: 10px !important;
  border-radius: 20px !important;
  display: inline-flex;
  transition: all 0.5s ease-in-out;
}
.articles__link path {
  fill: #ffbc57;
}
.articles__link:hover:not(:active) {
  background-color: #ffbc57;
  color: #fff;
}
.articles__link:hover:not(:active) path {
  fill: #fff;
}
.articles__couple {
  display: none;
  margin-left: auto;
  gap: 20px;
}
@media screen and (min-width: 1290px) {
  .articles__couple {
    display: flex;
  }
}
.articles__titleArrow {
  width: 24px;
  height: 24px;
  fill: #FFBC57;
}
.articles__titleArrow > path {
  transition: all 0.6s ease;
}
.articles__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.articles__arrow {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 0 0 auto;
  width: 60px;
  height: 60px;
  fill: #FFBC57;
}
.articles__button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 0;
  border: none;
  border-radius: 50%;
  margin: 0;
  transition: all ease-in-out 0.2s;
  border-radius: 50%;
  border: 1px solid #ffbc57;
}
.articles__button:not([disabled]):hover:not(:active) {
  background-color: #ffbc57;
}
.articles__button:not([disabled]):hover:not(:active) path {
  fill: #fff;
}
.articles__button[disabled] {
  cursor: not-allowed;
  border-color: red;
}
.articles__button[disabled] path {
  fill: red;
}
.articles__button path {
  fill: #ffbc57;
}
.articles__list {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 auto 0 auto;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
}
@media screen and (min-width: 1290px) {
  .articles__list {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
}
.articles__item {
  padding: 0 0 20px 0;
  border: 1px solid #e3e2e2;
  border-radius: 8px;
  margin: 0;
  width: 290px;
  height: 400px;
  background-color: #fff;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  position: relative;
  transition: right ease-in-out 0.5s, transform ease-in-out 1.5s !important;
  transform: translateX(-100px) scale(1.2);
  text-align: left;
}
.articles__item.aos-animate {
  transform: translate3d(0) scale(1);
}
@media screen and (min-width: 440px) {
  .articles__item {
    padding: 0 0 20px 0;
    border: 1px solid #e3e2e2;
    border-radius: 8px;
    margin: 0;
    width: 410px;
    height: 476px;
  }
}
.articles__photo {
  width: 290px;
  height: 200px;
  padding: 0;
  border: none;
  border-radius: 8px;
  margin: 0;
}
@media screen and (min-width: 440px) {
  .articles__photo {
    width: 410px;
    height: 260px;
  }
}
.articles__subtitle {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 15px;
  width: 260px;
  height: 120px;
  color: #2B2929;
  line-height: 1.31;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}
@media screen and (min-width: 440px) {
  .articles__subtitle {
    width: 350px;
    height: 102px;
    color: #2B2929;
    line-height: 1.31;
    font-size: 26px;
    font-weight: 600;
    padding: 0;
    border: none;
    border-radius: 0;
    margin: 30px;
  }
}
.articles__listLink {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 0 0 15px;
  gap: 10px;
  color: #FFBC57;
  line-height: 1.26;
  font-size: 19px;
  font-weight: 600;
  padding: 10px !important;
  border-radius: 20px !important;
  display: inline-flex;
  transition: all ease-in-out 0.4s;
}
@media screen and (min-width: 440px) {
  .articles__listLink {
    padding: 0;
    border: none;
    border-radius: 0;
    margin: 0 0 0 30px;
  }
}
.articles__listLink path {
  fill: #ffbc57;
  transition: all 0.6s ease;
}
.articles__listLink:hover:not(:active) {
  background-color: #ffbc57;
  color: #fff;
}
.articles__listLink:hover:not(:active) path {
  fill: #fff;
}
.articles__mainButton {
  padding: 8px 20px 8px 20px;
  border: none;
  border-radius: 8px;
  margin: 30px auto 0 auto;
  width: 290px;
  height: 50px;
  gap: 15px;
  background-color: #FFBC57;
}
@media screen and (min-width: 440px) {
  .articles__mainButton {
    width: 410px;
    height: 50px;
  }
}
@media screen and (min-width: 1290px) {
  .articles__mainButton {
    display: none;
  }
}
.articles__mainButtonArrow {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.articles__mainButtonText {
  color: #fff;
  line-height: 1.26;
  font-size: 19px;
  font-weight: 600;
}