.about {
  padding: 60px 0;
  overflow-x: hidden;
  background: #F8F8F8;
}
@media screen and (min-width: 1290px) {
  .about {
    padding: 70px 0;
  }
}
.about__title {
  margin: 0 0 60px;
  color: #2B2929;
  line-height: 1.2;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1290px) {
  .about__list {
    flex-direction: row;
  }
}
.about__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
.about__icon {
  width: 170px;
  height: 170px;
}
.about__subtitle {
  margin: 20px 0;
  color: #2B2929;
  line-height: 1.3;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
.about__text {
  color: #2B2929;
  line-height: 1.87;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}