.blog {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0;
  background-color: #F8F8F8;
}
@media screen and (min-width: 1290px) {
  .blog {
    padding: 0;
    border: none;
    border-radius: 0;
    margin: 0;
  }
}
.blog__title {
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 0 40px 0;
  color: #2B2929;
  line-height: 1.33;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (min-width: 1290px) {
  .blog__title {
    text-align: left;
    color: #2B2929;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 600;
  }
}