.choice__hidden {
  position: absolute;
  top: 280px;
  bottom: 0;
  right: 0;
  left: 0;
}

.choice {
  padding: 70px 0;
}
.choice__title {
  color: #2B2929;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 133%;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .choice__title {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 30px;
  }
}
.choice__text {
  color: #2B2929;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  height: 350px;
  overflow: hidden;
}
.choice__box {
  position: relative;
}
.choice__hidden {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, rgba(248, 248, 248, 0.8) 33.85%, #F8F8F8 72.4%);
}
.choice__icon {
  fill: #FFBC57;
  width: 60px;
  height: 60px;
}
.choice__checkbox {
  opacity: 0;
  z-index: 9999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.choice__checkbox:checked ~ .choice__text {
  height: auto;
  padding-bottom: 100px;
}
.choice__checkbox:checked ~ .choice__hiden {
  background-image: none;
  bottom: 30px;
}