.hero {
  padding-top: 8px;
  background-color: #f8f8f8;
  padding-bottom: 50px;
}
.hero__nav {
  display: flex;
  margin-bottom: 30px;
}
.hero__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  white-space: nowrap;
}
.hero__link:hover {
  color: #ffbc57;
  transition-duration: 250ms;
}
.hero__linkMobBug {
  display: none;
}
@media screen and (min-width: 1290px) {
  .hero__linkMobBug {
    display: block;
  }
}
.hero__activeLinkDesk {
  color: #ffbc57;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  display: none;
}
@media screen and (min-width: 1290px) {
  .hero__activeLinkDesk {
    display: block;
  }
}
.hero__activeLinkMob {
  color: #ffbc57;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}
@media screen and (min-width: 1290px) {
  .hero__activeLinkMob {
    display: none;
  }
}
.hero__arrowBox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  padding-top: 3px;
}
.hero__arrow {
  fill: #535353;
  height: 9px;
}
.hero__arrowMobBug {
  display: none;
}
@media screen and (min-width: 1290px) {
  .hero__arrowMobBug {
    display: block;
  }
}
@media screen and (min-width: 1290px) {
  .hero__container {
    display: flex;
    gap: 30px;
  }
}
.hero__titleMob {
  color: #2b2929;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 20px;
}
@media screen and (min-width: 1290px) {
  .hero__titleMob {
    display: none;
  }
}
.hero__activeBoxMob {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}
.hero__modelMob {
  margin-top: 10px;
  color: var(--Theme-Grey, #535353);
  text-align: left;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
}
.hero__container1 {
  position: relative;
}
.hero__img {
  width: 410px;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.3s ease;
}
@media screen and (max-width: 420px) {
  .hero__img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1290px) {
  .hero__img {
    width: 630px;
    height: 538px;
  }
}
.hero__buttonsMob {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1290px) {
  .hero__buttonsMob {
    display: none;
  }
}
.hero__buttonMob {
  padding: 0;
  background-color: transparent;
}
.hero__buttonBorderMob {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgb(177, 177, 177);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__buttonBcMob {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.hero__buttonActiveBorderMob {
  background-color: #fff;
}
.hero__buttonActiveBcMob {
  background-color: #ffbc57;
}
.hero__buttonLeft {
  position: absolute;
  top: 239px;
  left: 20px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__buttonLeft:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1290px) {
  .hero__buttonLeft {
    display: flex;
  }
}
.hero__svgLeft {
  width: 11px;
  height: 20px;
  fill: #ffbc57;
  transform: rotate(180deg);
}
.hero__buttonRight {
  position: absolute;
  top: 239px;
  right: 20px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__buttonRight:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1290px) {
  .hero__buttonRight {
    display: flex;
  }
}
.hero__svgRight {
  width: 11px;
  height: 20px;
  fill: #ffbc57;
}
.hero__images {
  display: none;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (min-width: 1290px) {
  .hero__images {
    display: flex;
    width: 630px;
  }
}
.hero__currentImage {
  width: 123px;
  height: 123px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: solid 2px #ffbc57;
  transition: all 0.3s ease;
}
.hero__image {
  width: 123px;
  height: 123px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero__image:hover {
  transform: scale(1.05);
}
.hero__imageImg {
  width: 100px;
}
.hero__titleDesk {
  color: #2b2929;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  display: none;
}
@media screen and (min-width: 1290px) {
  .hero__titleDesk {
    display: block;
    text-align: left;
  }
}
.hero__frameDesk {
  display: none;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1290px) {
  .hero__frameDesk {
    display: flex;
  }
}
.hero__frameMob {
  margin-bottom: 20px;
}
@media screen and (min-width: 1290px) {
  .hero__frameMob {
    display: none;
  }
}
.hero__activeBox {
  display: flex;
  align-items: center;
  gap: 7px;
}
.hero__checkSvg {
  width: 24px;
  height: 24px;
  fill: #82b09d;
}
.hero__active {
  color: #2b2929;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}
.hero__starBox, .hero__starList {
  display: flex;
  align-items: center;
}
.hero__star {
  width: 24px;
  height: 24px;
  fill: #ffbc57;
}
.hero__commentBox {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__comment {
  fill: #535353;
  margin-right: 2px;
}
.hero__rewievs {
  color: #535353;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
}
.hero__model {
  color: #535353;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
}

.heroBox {
  padding: 20px 20px 30px 20px;
  border-radius: 8px 8px 0 0;
  background: #fff;
}
.heroBox__header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
@media screen and (min-width: 1290px) {
  .heroBox__header {
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
.heroBox__costBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1290px) {
  .heroBox__costBox {
    gap: 20px;
    flex-direction: row;
  }
}
.heroBox__cost {
  color: dark;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
}
.heroBox__nonCost {
  color: #e03d3d;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-decoration-line: line-through;
}
.heroBox__favoritesBox {
  align-items: center;
  gap: 10px;
  display: none;
}
@media screen and (min-width: 1290px) {
  .heroBox__favoritesBox {
    display: flex;
  }
}
.heroBox__heardSvg {
  width: 50px;
  height: 50px;
}
.heroBox__favorites {
  color: #535353;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}
.heroBox__line {
  width: 100%;
  height: 2px;
  background-color: #c5c5c5;
  margin-bottom: 30px;
}
.heroBox__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media screen and (max-width: 420px) {
  .heroBox__list {
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 1290px) {
  .heroBox__list {
    gap: 10px;
  }
}
.heroBox__item {
  width: 190px;
}
@media screen and (max-width: 420px) {
  .heroBox__item {
    width: 100%;
  }
}
@media screen and (min-width: 1290px) {
  .heroBox__item {
    width: auto;
  }
}
.heroBox__itemFlex {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}
.heroBox__svgQuestion {
  fill: rgb(177, 177, 177);
}
.heroBox__text {
  color: dark;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
}
@media screen and (max-width: 1290px) {
  .heroBox__text {
    font-size: 15px;
  }
}
.heroBox__choiceButton {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  background-color: #f8f8f8;
}
@media screen and (min-width: 1290px) {
  .heroBox__choiceButton {
    width: 280px;
  }
}
.heroBox__choiceText {
  flex-shrink: 0;
  color: #535353;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media screen and (min-width: 1290px) {
  .heroBox__choiceText {
    width: 211px;
  }
}
.heroBox__arrow {
  height: 11px;
  width: 6px;
  transform: rotate(90deg);
  margin-left: auto;
}
.heroBox__chooseClothFlex {
  display: flex;
  gap: 5px;
  margin-top: 30px;
  align-items: center;
}
@media screen and (min-width: 1290px) {
  .heroBox__chooseClothFlex {
    margin-top: 20px;
  }
}
.heroBox__chooseCloth {
  color: dark;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
}
.heroBox__cloths {
  display: flex;
  gap: 15px;
  align-items: start;
  margin-top: 10px;
}
@media screen and (min-width: 1290px) {
  .heroBox__cloths {
    gap: 20px;
  }
}
@media screen and (max-width: 420px) {
  .heroBox__cloths {
    flex-wrap: wrap;
  }
}
.heroBox__cloth {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
@media screen and (min-width: 1290px) {
  .heroBox__cloth {
    width: 70px;
    height: 70px;
  }
}
.heroBox__clothGreen {
  display: none;
}
@media screen and (min-width: 1290px) {
  .heroBox__clothGreen {
    display: block;
  }
}
.heroBox__clothImg {
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 1290px) {
  .heroBox__clothImg {
    width: 70px;
    height: 70px;
  }
}
.heroBox__clothCurrent {
  position: relative;
}
.heroBox__clothImgCheckMark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.heroBox__moreLink {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}
@media screen and (min-width: 1290px) {
  .heroBox__moreLink {
    justify-content: start;
  }
}
.heroBox__moreText {
  color: #ffbc57;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
}
.heroBox__moreSvg {
  width: 8px;
  height: 11px;
  transform: rotate(180deg);
  fill: #ffbc57;
}
.heroBox__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1290px) {
  .heroBox__buttons {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
.heroBox__kolVo {
  display: flex;
  gap: 15px;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  background: #f8f8f8;
}
@media screen and (min-width: 1290px) {
  .heroBox__kolVo {
    width: 110px;
  }
}
.heroBox__number {
  color: dark;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.heroBox__btnMinus, .heroBox__btnPlus {
  background-color: transparent;
}
.heroBox__svgMinus, .heroBox__svgPlus {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: #535353;
}
.heroBox__buyBtn {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #ffbc57;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1290px) {
  .heroBox__buyBtn {
    width: 208px;
  }
}
.heroBox__buyBtn:hover {
  background-color: rgb(239, 179, 89);
}
.heroBox__cartIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #fff;
}
.heroBox__buyBtn span {
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}
.heroBox__creditBtn {
  display: flex;
  height: 50px;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #ffbc57;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heroBox__creditBtn:hover {
  background-color: rgba(239, 179, 89, 0.088);
}
.heroBox__creditSvg {
  width: 24px;
  height: 24px;
  fill: #ffbc57;
}
.heroBox__creditBtn span {
  color: #535353;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}
.heroBox__mobFavoritesBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
@media screen and (min-width: 1290px) {
  .heroBox__mobFavoritesBox {
    display: none;
  }
}
.heroBox__mobHeartSvg {
  height: auto;
  width: auto;
}
.heroBox__mobFavorites {
  color: #535353;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}
.heroBox__footer {
  background-color: #f8f8f8;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  gap: 20px;
  box-shadow: -3px 4px 15px 0px #F8F8F8;
}
.heroBox__callSvg {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  fill: rgb(177, 177, 177);
}
.heroBox__callNumber {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 1.4;
  width: 151px;
  height: 30px;
  flex-shrink: 0;
}
@media screen and (max-width: 420px) {
  .heroBox__callNumber {
    width: 120px;
    height: auto;
  }
}
@media screen and (min-width: 1290px) {
  .heroBox__callNumber {
    width: 293px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.heroBox__btnClick {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  border: 1px solid #535353;
  color: #535353;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1290px) {
  .heroBox__btnClick {
    width: 212px;
    margin-left: auto;
  }
}
.heroBox__btnClick:hover {
  background-color: rgba(0, 0, 0, 0.041);
  transform: scale(1.05);
}

.heroConsultation {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media screen and (min-width: 1290px) {
  .heroConsultation {
    display: none;
  }
}
.heroConsultation__text {
  color: #535353;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;
}
.heroConsultation__flex {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.heroConsultation__boxHelp {
  display: flex;
  margin-bottom: 40px;
}
.heroConsultation__svgBug {
  background-color: rgb(117, 183, 59);
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.heroConsultation__svgWhatsapp {
  fill: #fff;
  width: 24px;
  height: 24px;
}
.heroConsultation__telegram {
  margin-right: 15px;
  margin-left: 15px;
}
.heroConsultation__svg {
  width: 39px;
  height: 39px;
  background-color: #fff;
  border-radius: 50%;
}