.kyivPayment {
  padding: 60px 0;
  border: none;
  border-radius: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #F8F8F8;
}
@media screen and (min-width: 1290px) {
  .kyivPayment {
    padding: 70px 0;
    border: none;
    border-radius: 0;
    margin: 0;
  }
}
.kyivPayment__title {
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 0 40px;
  color: #2B2929;
  line-height: 1.33;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (min-width: 1290px) {
  .kyivPayment__title {
    color: #2B2929;
    line-height: 1.33;
    font-size: 40px;
    font-weight: 600;
  }
}
.kyivPayment__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1290px) {
  .kyivPayment__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.kyivPayment__bg {
  width: 100px;
  height: 100px;
  padding: 25px;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #FFBC57;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kyivPayment__icon {
  width: 50px;
  height: 50px;
}
.kyivPayment__subtitle {
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 20px 0;
  color: #2B2929;
  line-height: 1.3;
  font-size: 26px;
  font-weight: 600;
}
.kyivPayment__text {
  text-align: center;
  color: #2B2929;
  line-height: 1.87;
  font-size: 16px;
  font-weight: 400;
}