.reviews {
  background-color: #e9e9e9;
  padding: 70px 0;
  position: relative;
  overflow: hidden;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.reviews__containerReviews {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}
.reviews__content {
  flex: 1;
}
.reviews__content:nth-child(1) {
  z-index: 999;
  background-color: #e9e9e9;
}
.reviews__iconSvg {
  width: 60px;
  height: 60px;
  fill: #ffbc57;
}
.reviews__title {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Montserrat";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  padding-bottom: 40px;
  text-align: left;
}
.reviews__logoSofa {
  background-color: white;
  width: 85px;
  height: 85px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.reviews__name {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding-left: 20px;
  text-align: left;
}
.reviews__date {
  color: var(--Theme-Grey, #535353);
  text-align: right;
  font-family: "Montserrat";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 80px;
}
.reviews__text {
  color: var(--Theme-Grey, #535353);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 370px;
  height: 150px;
}
.reviews__text a {
  color: var(--Theme-Yellow, #ffbc57);
  text-decoration: underline;
}
.reviews__text strong {
  font-weight: 600;
}
.reviews__rate {
  color: #f90;
  font-family: "Montserrat";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-right: 10px;
}
.reviews__starSvg {
  width: 24px;
  height: 24px;
  fill: #ff9900;
}
.reviews__reviews {
  color: #535353;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
.reviews__info {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  width: 410px;
  height: 150px;
}
.reviews__starsContainer {
  flex-direction: row;
  margin-top: 10px;
}
.reviews__stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviews__star {
  width: 24px;
  height: 24px;
  fill: #ffbc57;
}
.reviews__allLink {
  display: flex;
  align-items: center;
  color: #535353;
  transition: all 0.3s ease-in-out;
}
.reviews__buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 40px;
}
.reviews__allLink:hover {
  color: #ffbc57;
  fill: #ffbc57;
}
.reviews__allLink:hover svg {
  fill: #ffbc57;
}
.reviews__write {
  border-radius: 8px;
  background: var(--Theme-Yellow, #ffbc57);
  width: 220px;
  height: 50px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
}
.reviews__write:hover {
  background-color: #535353;
}
.reviews__writeSvg {
  fill: white;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.reviews__all-link {
  color: #535353;
  text-align: center;
  font-family: "Montserrat";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reviews__allLink svg {
  width: 24px;
  height: 24px;
  fill: #535353;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}
.reviews__allLink svg:hover {
  fill: #ffbc57;
}
.reviews__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow: hidden;
  width: 100%;
  transition: transform 0.3s ease;
}
.reviews__item {
  width: 390px;
  padding: 30px;
  height: 310px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  background: #fff;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease-in-out all;
  margin-left: 10px;
}
.reviews__item:hover {
  transform: scale(1.01) translateY(-20px);
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.reviews__item > div:nth-child(1) {
  display: flex;
  flex-direction: row;
}
.reviews__item > div > div:nth-child(1) {
  border-color: #ffbc57;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
}
.reviews__imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.reviews__imgContainer picture {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
}
.reviews__img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.reviews__scroll {
  width: 6px;
  height: 150px;
}
.reviews__shop {
  color: var(--Theme-Dark, #2b2929);
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  width: 80%;
  text-align: left;
}
.reviews__starsList {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviews__bedName {
  color: var(--Theme-Grey, #535353);
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.reviews__list2 {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.reviews__empty > svg {
  width: 15px;
  height: 15px;
  border: 2px solid #b1b1b1;
  border-radius: 100%;
}
.reviews__empty:nth-child(3) > svg {
  border-color: white;
}
.reviews__sliderContainer {
  width: 100%;
  max-width: 695px;
  margin: 0 auto;
  padding: 0 20px;
}
.reviews__customSlider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
}
.reviews__customSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.reviews__customSlider::-moz-range-thumb {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.reviews__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviews__likeButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--Theme-Grey, #535353);
  font-family: "Montserrat";
  font-size: 14px;
}
.reviews__likeButton:hover {
  color: var(--Theme-Yellow, #ffbc57);
}
.reviews__likeButton svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: all 0.3s ease;
}
.reviews__likeButton.liked {
  color: var(--Theme-Yellow, #ffbc57);
}
.reviews__likeCount {
  font-weight: 600;
  min-width: 20px;
  text-align: center;
}
.reviews__deleteButton {
  background-color: transparent;
  margin-left: 20px;
  padding: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 40px;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 320px) {
  .reviews__title {
    font-size: 40px;
  }
  .reviews__list {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 320px;
  }
  .reviews__item {
    width: 250px;
    height: 390px;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
  }
  .reviews__text {
    text-align: left;
    width: 280px;
    height: 40px;
  }
  .reviews__item:nth-child(2), .reviews__item:nth-child(3) {
    display: none;
  }
  .reviews__empty > svg {
    width: 15px;
    height: 15px;
    border: 2px solid #b1b1b1;
    border-radius: 100%;
  }
  .reviews__list2 {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  .reviews__empty:nth-child(3) > svg {
    border-color: white;
  }
  .container-reviews {
    flex-direction: column;
  }
  .custom-slider,
  .slider-container {
    display: none;
  }
}
@media screen and (min-width: 410px) {
  .reviews__title {
    font-size: 40px;
  }
  .reviews__list {
    flex-direction: column;
    width: 410px;
  }
  .reviews__item {
    width: 450px;
    height: 370px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
  }
  .reviews__text {
    width: 100%;
    height: 150px;
  }
  .reviews__item:nth-child(2), .reviews__item:nth-child(3) {
    display: none;
  }
  .reviews__empty > svg {
    width: 15px;
    height: 15px;
    border: 2px solid #b1b1b1;
    border-radius: 100%;
  }
  .reviews__list2 {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  .reviews__empty:nth-child(3) > svg {
    border-color: white;
  }
  .container-reviews {
    flex-direction: column;
  }
}
@media screen and (min-width: 1290px) {
  .reviews__title {
    font-size: 40px;
  }
  .reviews__list {
    flex-direction: row;
    width: 1500px;
  }
  .reviews__item {
    display: flex;
    width: 450px;
    height: 370px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .reviews__item:nth-child(2), .reviews__item:nth-child(3) {
    display: flex;
  }
  .reviews__list2 {
    display: none;
  }
  .reviews__empty:nth-child(3) > svg {
    border-color: white;
  }
  .custom-slider,
  .slider-container {
    display: block;
  }
  .container-reviews {
    flex-direction: row;
  }
}
.slider-container {
  width: 695px;
  display: flex;
  justify-content: end;
  margin-left: auto;
}

.custom-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(0);
}

.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}