.paymentTypes {
  padding: 60px 0;
  border: none;
  border-radius: 0;
  margin: 0;
  overflow-x: hidden;
}
@media screen and (min-width: 1290px) {
  .paymentTypes {
    padding: 70px 0;
    border: none;
    border-radius: 0;
    margin: 0;
  }
}
.paymentTypes__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1290px) {
  .paymentTypes__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.paymentTypes__bg {
  width: 100px;
  height: 100px;
  padding: 23px;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #FFBC57;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1290px) {
  .paymentTypes__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.paymentTypes__title {
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 20px 0 10px;
  color: #2B2929;
  line-height: 1.3;
  font-size: 26px;
  font-weight: 600;
}
.paymentTypes__text {
  text-align: center;
  color: #2B2929;
  line-height: 1.87;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 1290px) {
  .paymentTypes__text {
    text-align: left;
  }
}