.price {
  padding-top: 70px;
  padding-bottom: 70px;
}
.price__title {
  color: #2B2929;
  line-height: 133%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 40px 0;
}
@media screen and (min-width: 768px) {
  .price__title {
    color: #2B2929;
    line-height: 120%;
    font-size: 40px;
    font-weight: 600;
  }
}
.price__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
}
.price__item {
  display: flex;
  padding: 15px 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
}
.price__item:nth-child(odd) {
  background-color: #F8F8F8;
}
.price__item:nth-child(even) {
  background-color: #ffffff;
}
.price__item:first-child p {
  background-color: #535353;
}
.price__item:nth-child(odd) p {
  background-color: #F8F8F8;
}
.price__item:nth-child(even) p {
  background-color: #ffffff;
}
.price__item::after {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(100% - 20px);
  border-bottom: 1px dashed #535353;
}
@media screen and (min-width: 768px) {
  .price__item::after {
    top: 50%;
  }
}
.price__free {
  display: none;
}
@media screen and (min-width: 768px) {
  .price__free {
    text-align: center;
    background-color: #fff;
    z-index: 3;
    display: block;
    color: #535353;
    line-height: 141%;
    font-size: 17px;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.price__text {
  z-index: 3;
  color: #535353;
  line-height: 141%;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
.price__price {
  z-index: 3;
  padding-left: 10px;
  color: #535353;
  line-height: 141%;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
}
.price__element:first-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .price__element:first-child {
    background-color: #535353;
    z-index: 4;
    border-radius: 8px;
    position: relative;
    display: flex;
  }
}
.price__element:first-child p {
  background-color: #535353;
}
@media screen and (min-width: 768px) {
  .price__text1 {
    background-color: transparent;
    color: #fff;
    line-height: 140%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
}
.price__text1:first-child {
  margin: 0 10px 0 170px;
}
.price__text1:nth-child(2) {
  margin: 0 0 0 210px;
}
.price__text2 {
  text-align: center;
  background-color: white;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .price__text2 {
    text-align: left;
  }
}
@media screen and (min-width: 1290px) {
  .price__text2 {
    padding: 0 10px 0 0;
  }
}
.price__text3 {
  position: absolute;
  left: 46%;
  text-align: center;
  padding: 0 10px;
  z-index: 1;
  background-color: white;
}
.price__item:nth-child(5) .price__text3, .price__item:nth-child(6) .price__text3 {
  left: 48%;
}
.price__disclaimer {
  color: #2B2929;
  line-height: 188%;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-align: left;
}
.price__mobile-subtitle {
  color: #2B2929;
  line-height: 131%;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.price__price2 {
  text-align: center;
  background-color: white;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .price__price2 {
    text-align: right;
    margin-left: 190px;
    padding: 0 0 0 10px;
  }
}
.price__mobile-title {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .price__mobile-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .price__text1 {
    background-color: transparent;
    color: #fff;
    line-height: 140%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .price__mobile-list {
    display: none;
  }
  .price__mobile-title2 {
    display: none;
  }
  .price__mobile-suptitle {
    display: none;
  }
}