.description {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--Theme-Light, #f8f8f8);
}
@media screen and (min-width: 1290px) {
  .description__container {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1290px) {
  .description__content {
    width: 850px;
  }
}
.description__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgb(43, 41, 41);
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 30px;
  text-align: left;
}
.description__text {
  color: rgb(43, 41, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  margin-bottom: 30px;
  text-align: left;
}
.description__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 17px;
}
.description__img {
  width: 178px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.descriptionForm__bug {
  height: 600px;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  display: none;
}
@media screen and (min-width: 1290px) {
  .descriptionForm__bug {
    display: block;
  }
}
.descriptionForm__title {
  color: rgb(43, 41, 41);
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 30px;
  width: 286px;
}
.descriptionForm__input {
  display: flex;
  padding-left: 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgb(177, 177, 177);
  background: #fff;
  height: 50px;
  margin-bottom: 20px;
  width: 350px;
}
.descriptionForm__input::-moz-placeholder {
  color: rgb(177, 177, 177);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  height: 30px;
}
.descriptionForm__input::placeholder {
  color: rgb(177, 177, 177);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  height: 30px;
}
.descriptionForm__inputReview {
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgb(177, 177, 177);
  background: #fff;
  padding-top: 25px;
  padding-bottom: 100px;
}
.descriptionForm__text {
  color: rgb(177, 177, 177);
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}
.descriptionForm__list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.descriptionForm__button {
  background-color: transparent;
  padding: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.descriptionForm__button:hover {
  transform: scale(1.03);
}
.descriptionForm__svg {
  width: auto;
  height: auto;
}
.descriptionForm__item {
  width: 40px;
  height: 40px;
}
.descriptionForm__btn {
  display: flex;
  width: 350px;
  height: 50px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #feb74b;
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.descriptionForm__btn:hover {
  background-color: #feb74b;
  transform: scale(1.02);
}

.imgBackdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.407);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}

.imgModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(66, 66, 66);
  padding: 3px;
  border: solid rgb(66, 66, 66) 3px;
  border-radius: 30px;
  overflow: hidden;
}
.imgModal img {
  width: 400px;
  transform: scale(1.05);
  border-radius: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.requiredModal {
  position: fixed;
  transform: translateX(100%);
  top: 60px;
  right: 0;
  background-color: var(--Theme-Light, #f8f8f8);
  width: 300px;
  height: 100px;
  border-radius: 30px;
  border: solid #939292 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}