button {
  background-color: transparent;
  padding: 0;
}

.recommendations {
  padding-top: 70px;
  background-color: #f8f8f8;
}
.recommendations__title {
  color: dark;
  font-size: 33px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .recommendations__title {
    font-size: 31px;
  }
}
@media screen and (min-width: 1290px) {
  .recommendations__title {
    font-size: 40px;
  }
}
.recommendations__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .recommendations__list {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1290px) {
  .recommendations__list {
    font-size: 40px;
    flex-direction: row;
  }
}
.recommendations__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  background: #fff;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  width: 300px;
}
@media screen and (max-width: 480px) {
  .recommendations__item {
    width: 278px;
  }
}
@media screen and (max-width: 1290px) {
  .recommendations__item {
    width: 280px;
  }
}
.recommendations__img {
  width: 260px;
  height: 220px;
}
.recommendations__size {
  color: grey;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  width: 260px;
  margin-top: 20px;
  text-align: left;
}
.recommendations__text {
  color: var(--Theme-Dark, #2b2929);
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  text-align: left;
  width: 260px;
  height: 52px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.recommendations__activeFlex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.recommendations__svg {
  height: 24px;
  fill: #82b09d;
}
.recommendations__active {
  color: dark;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}
.recommendations__nonCost {
  color: #e03d3d;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
  text-decoration-line: line-through;
}
.recommendations__cost {
  color: dark;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.recommendations__costFlex {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.recommendations__itemFooter {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.recommendations__obraneBc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.recommendations__obraneSvg {
  width: auto;
  height: auto;
}
.recommendations__koshykBc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.recommendations__koshykSvg {
  width: auto;
  height: auto;
  fill: #fff;
}