.shares {
  padding-top: 120px;
  background-color: #f8f8f8;
}
@media screen and (min-width: 768px) {
  .shares {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.shares__title {
  color: #2B2929;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 133%;
  margin: 0 0 40px 0;
}
@media screen and (min-width: 768px) {
  .shares__title {
    font-size: 40px;
    line-height: 120%;
  }
}
.shares__icon {
  fill: #FFBC57;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
.shares__text {
  color: #2B2929;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}
.shares__item {
  display: flex;
  gap: 20px;
  max-width: 410px;
}
@media screen and (min-width: 768px) {
  .shares__item {
    flex-direction: column;
    align-items: center;
    gap: 0;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1290px) {
  .shares__item {
    flex-basis: calc((100% - 120px) / 5);
    justify-content: start;
  }
}
.shares__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shares__list {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1290px) {
  .shares__list {
    justify-content: start;
  }
}
.shares__disclaimer {
  color: #2B2929;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  padding-top: 40px;
  margin: 0;
}