.showRoom {
  padding: 60px 0;
  overflow-x: hidden;
  background-color: #F8F8F8;
}
@media screen and (min-width: 1290px) {
  .showRoom__container {
    display: flex;
    justify-content: center;
  }
}
.showRoom__box {
  max-width: 520px;
}
.showRoom__title {
  color: #2b2929;
  line-height: 1.33;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (min-width: 1290px) {
  .showRoom__title {
    color: #2b2929;
    line-height: 1.33;
    font-size: 40px;
    font-weight: 600;
  }
}
.showRoom__subtitle {
  margin: 30px 0 20px;
  color: #2b2929;
  line-height: 1.3;
  font-size: 26px;
  font-weight: 600;
}
.showRoom__text {
  color: #2b2929;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 600;
}
.showRoom__btn {
  padding: 13px 20px;
  border-radius: 8px;
  margin: 40px auto 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  outline: solid 0 #FFBC57;
  background-color: #FFBC57;
  transition: 250ms ease-in;
}
.showRoom__btn:hover, .showRoom__btn:focus {
  background-color: #f3ab3f;
  outline: solid 4px #f3ab3f;
}
@media screen and (min-width: 1290px) {
  .showRoom__btn {
    padding: 13px 20px;
    border-radius: 8px;
    margin: 40px 0 0;
  }
}
.showRoom__span {
  color: #fff;
  line-height: 1.26;
  font-size: 19px;
  font-weight: 600;
}
.showRoom__icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.showRoom__img {
  width: 480px;
}
@media screen and (min-width: 1290px) {
  .showRoom__img {
    width: 740px;
  }
}