.subcategories__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcategories__main {
  display: flex;
  align-items: center;
}

.subcategories {
  padding-top: 65px;
  padding-bottom: 70px;
}
.subcategories__title {
  color: #2B2929;
  line-height: 133%;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .subcategories__title {
    font-size: 40px;
    line-height: 120%;
  }
}
.subcategories__subtitle {
  line-height: 24px;
  color: #B1B1B1;
  line-height: 126%;
  font-size: 19px;
  font-weight: 600;
}
.subcategories__main {
  gap: 10px;
}
.subcategories__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.subcategories__hide {
  text-align: center;
  color: #FFBC57;
  line-height: 126%;
  font-size: 19px;
  font-weight: 600;
  transition: font-size 0.5s ease-in;
}
.subcategories__hide:hover, .subcategories__hide:focus {
  font-size: 22px;
}
.subcategories__item {
  width: 200px;
  height: 180px;
  flex-basis: calc((100% - 10px) / 2);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 20px 20px 112px;
  position: relative;
  border-radius: 8px;
}
@media screen and (max-width: 350px) {
  .subcategories__item {
    flex-basis: calc((100% - 1px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item {
    flex-basis: calc((100% - 20px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .subcategories__item {
    flex-basis: calc((100% - 40px) / 5);
  }
}
.subcategories__item::after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background-color: #FFBC57;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 47%;
}
.subcategories__item:nth-child(1) {
  background-image: url("../../../images/catalog/subcategories-product1.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(1) {
    background-image: url("../../../images/catalog/subcategories-product1.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(1) {
    background-image: url("../../../images/catalog/subcategories-product1.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(1) {
    background-image: url("../../../images/catalog/subcategories-product1.png");
  }
}
.subcategories__item:nth-child(2) {
  background-image: url("../../../images/catalog/subcategories-product2.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(2) {
    background-image: url("../../../images/catalog/subcategories-product2.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(2) {
    background-image: url("../../../images/catalog/subcategories-product2.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(2) {
    background-image: url("../../../images/catalog/subcategories-product2.png");
  }
}
.subcategories__item:nth-child(3) {
  background-image: url("../../../images/catalog/subcategories-product3.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(3) {
    background-image: url("../../../images/catalog/subcategories-product3.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(3) {
    background-image: url("../../../images/catalog/subcategories-product3.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(3) {
    background-image: url("../../../images/catalog/subcategories-product3.png");
  }
}
.subcategories__item:nth-child(4) {
  background-image: url("../../../images/catalog/subcategories-product4.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(4) {
    background-image: url("../../../images/catalog/subcategories-product4.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(4) {
    background-image: url("../../../images/catalog/subcategories-product4.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(4) {
    background-image: url("../../../images/catalog/subcategories-product4.png");
  }
}
.subcategories__item:nth-child(5) {
  background-image: url("../../../images/catalog/subcategories-product5.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(5) {
    background-image: url("../../../images/catalog/subcategories-product5.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(5) {
    background-image: url("../../../images/catalog/subcategories-product5.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(5) {
    background-image: url("../../../images/catalog/subcategories-product5.png");
  }
}
.subcategories__item:nth-child(6) {
  background-image: url("../../../images/catalog/subcategories-product6.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(6) {
    background-image: url("../../../images/catalog/subcategories-product6.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(6) {
    background-image: url("../../../images/catalog/subcategories-product6.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(6) {
    background-image: url("../../../images/catalog/subcategories-product6.png");
  }
}
.subcategories__item:nth-child(7) {
  background-image: url("../../../images/catalog/subcategories-product7.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(7) {
    background-image: url("../../../images/catalog/subcategories-product7.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(7) {
    background-image: url("../../../images/catalog/subcategories-product7.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(7) {
    background-image: url("../../../images/catalog/subcategories-product7.png");
  }
}
.subcategories__item:nth-child(8) {
  background-image: url("../../../images/catalog/subcategories-product8.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(8) {
    background-image: url("../../../images/catalog/subcategories-product8.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(8) {
    background-image: url("../../../images/catalog/subcategories-product8.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(8) {
    background-image: url("../../../images/catalog/subcategories-product8.png");
  }
}
.subcategories__item:nth-child(9) {
  background-image: url("../../../images/catalog/subcategories-product9.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(9) {
    background-image: url("../../../images/catalog/subcategories-product9.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(9) {
    background-image: url("../../../images/catalog/subcategories-product9.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(9) {
    background-image: url("../../../images/catalog/subcategories-product9.png");
  }
}
.subcategories__item:nth-child(10) {
  background-image: url("../../../images/catalog/subcategories-product10.png");
}
@media (min-display-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subcategories__item:nth-child(10) {
    background-image: url("../../../images/catalog/subcategories-product10.png");
  }
}
@media screen and (min-width: 768px) {
  .subcategories__item:nth-child(10) {
    background-image: url("../../../images/catalog/subcategories-product10.png");
  }
}
@media screen and (min-width: 768px) and (min-display-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .subcategories__item:nth-child(10) {
    background-image: url("../../../images/catalog/subcategories-product10.png");
  }
}
.subcategories__text {
  text-align: center;
  color: #2B2929;
  line-height: 141%;
  font-size: 17px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .subcategories__text {
    font-weight: 600;
    line-height: 126%;
  }
}
.subcategories__box {
  margin-top: 30px;
  gap: 10px;
}
.subcategories__icon {
  width: 24px;
  height: 24px;
  fill: #FFBC57;
}