@media screen and (min-width: 768px) {
  .ukraine {
    padding-bottom: 70px;
  }
}
.ukraine__container {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 70px auto 0;
}
.ukraine ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ukraine__title {
  color: #2B2929;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 133%;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .ukraine__title {
    font-size: 40px;
    line-height: 120%;
    text-align: left;
    max-width: 520px;
  }
}
.ukraine__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
.ukraine__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ukraine__icon {
  width: 70px;
  height: 70px;
  fill: #FFBC57;
  display: block;
  flex-shrink: 0;
}
.ukraine__text {
  color: #2B2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  max-width: 430px;
  text-align: left;
  margin: 0;
}
.ukraine__element {
  color: #2B2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  margin: 20px 0;
  max-width: 520px;
  text-align: left;
}
.ukraine__element:last-child {
  margin-bottom: 0;
}
.ukraine__square {
  position: absolute;
  top: 80%;
  right: 40%;
  width: 250px;
  height: 250px;
  border-radius: 420px;
  background-color: #FFBC57;
  overflow: hidden;
  border: 3px solid #F8F8F8;
}
@media screen and (max-width: 420px) {
  .ukraine__square {
    width: 200px;
    height: 200px;
    top: 84%;
  }
}
@media screen and (min-width: 768px) {
  .ukraine__square {
    top: 72%;
    left: 0;
    width: 420px;
    height: 420px;
  }
}
@media screen and (min-width: 1290px) {
  .ukraine__square {
    top: 39%;
    left: 40%;
  }
}
.ukraine__squareTitle {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 113%;
  margin-bottom: 10px;
  max-width: 200px;
  padding: 60px 25px;
}
@media screen and (max-width: 420px) {
  .ukraine__squareTitle {
    font-size: 15px;
    padding: 35px 25px;
  }
}
@media screen and (min-width: 768px) {
  .ukraine__squareTitle {
    font-size: 26px;
    line-height: 131%;
    margin-bottom: 20px;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0;
    padding: 100px 40px;
  }
}
.ukraine__squareText {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 129%;
  max-width: 200px;
}
@media screen and (max-width: 420px) {
  .ukraine__squareText {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  .ukraine__squareText {
    font-size: 20px;
    line-height: 140%;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
.ukraine__warning {
  color: #2B2929;
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  text-align: left;
  margin: 0 0 20px 0;
}
.ukraine__warning:last-child {
  margin-bottom: 0;
}