.characteristic {
  background-color: #f8f8f8;
  padding-bottom: 70px;
}
.characteristic__title {
  color: dark;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 30px;
}
.characteristic__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.characteristic__item {
  background-color: #fff;
  display: flex;
  width: 100%;
  padding: 15px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}
@media screen and (max-width: 480px) {
  .characteristic__item {
    width: auto;
  }
}
@media screen and (min-width: 1290px) {
  .characteristic__item {
    width: 850px;
  }
}
.characteristic__leftText {
  color: grey;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
  white-space: nowrap;
}
.characteristic__dots {
  width: 100%;
  height: 0px;
  border: dotted 1px #6A6A6A;
}
.characteristic__rightText {
  color: grey;
  text-align: right;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.41;
  white-space: nowrap;
}