@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

html,
body,
#page {
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style: none;
}

.js__slider {
    text-align: center;
    position: relative;
    width: 100%;
    /*height: 200px;*/
    overflow: hidden;
}

.hero__slideList {
    height: 300px !important;
    font-size: 40px;
    line-height: 200px;
    color: white;
}

.js__slider li {
    float: left;
}

.js__slider>.next,
.js__slider>.prev {
    display: none;
    position: absolute;
    bottom: 220px;
    transform: translateY(-50%);
    font-size: 30px;
    background: #fff;
    /* Adjust background color */
    border: none;
    padding: 10px 15px;
    /* Adjust padding as needed */
    cursor: pointer;
    opacity: 0;

    @media screen and (min-width: 1290px) {
        display: flex;
        opacity: 1;
    }
}

.js__slider>.prev {
    left: 40px;

    @media screen and (min-width: 1290px) {
        bottom: 140px;
    }
}

.js__slider>.next {
    right: 40px;
    bottom: 215px;

    @media screen and (min-width: 1290px) {
        bottom: 140px;
    }
}

.dot {
    display: inline-block;
    @include size(15px, 15px);
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    top: -50px;
    left: 100px;

    @media screen and (min-width: 440px) {
        top: -30px;
        left: 160px;
    }

    @media screen and (min-width: 768px) {
        top: -30px;
        left: 300px;
    }

    @media screen and (min-width: 1290px) {
        top: -30px;
        left: 580px;
    }
}

.dot.active {
    background-color: $yellow-color;
    border: 3.5px solid #fff;
}

.dots__container {
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
}

.hero {
    @include block-model(20px 0 30px 0, none, 0, 0);
    background-color: $light-color;
    height: 550px;

    @media screen and (min-width: 440px) {
        @include block-model(40px 0 60px 0, none, 0, 0);
        height: 700px;
    }

    @media screen and (min-width: 1290px) {
        @include block-model(30px 0 70px 0, none, 0, 0);
        height: 560px;
    }

    &__container {
        position: relative;
        @extend %flex-center;
    }

    &__icon1 {
        @include size(30px, 20px);
        fill: $yellow-color;
    }

    &__icon2 {
        @include size(40px, 20px);
        fill: $yellow-color;
    }

    &__button1 {
        display: none;
        @include block-model(20px 0 20px 0, none, 50%, 0);
        @include size(60px, 60px);
        background-color: #fff;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__button2 {
        display: none;
        @include block-model(20px 0 20px 0, none, 50%, 0);
        @include size(60px, 60px);
        background-color: #fff;

        @media screen and (min-width: 1290px) {
            display: block;
        }
    }

    &__slide {
        @include size(290px, 100px);
        // background: url(../images/mobile/slide-1@1x.webp) center / contain no-repeat;

        @media screen and (min-width: 440px) {
            @include size(410px, 120px);
        }

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            // background: url(../images/mobile/slide-1@2x.webp) center / contain no-repeat;
        }

        @media screen and (min-width: 1290px) {
            @include size(1290px, 80px);
            // background: url(../images/desktop/slide-1@1x.webp) center / contain no-repeat;

            @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                // background: url(../images/desktop/slide-1@2x.webp) center / contain no-repeat;
            }
        }
    }

    &__list {
        @extend %position6;    
        @extend %flex-center;
        flex-direction: row;
        @include block-model(0, none, 0, 0 auto 0 auto);
        gap: 10px;
    }

    &__point {
        @include size(15px, 15px)
    }
}