.route {
    padding-top: 70px;
    padding-bottom: 70px;


    &__title {
        color: var(--Theme-Dark, #2B2929);
        text-align: center;
        font-family: "Montserrat";
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        padding-bottom: 30px;
    }

    &__text {
        color: var(--Theme-Grey, #535353);
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        width: 100%;
        
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;
    }

    &__item {
        display: flex;
        gap: 15px;
    }

    &__svg {
        width: 32px;
        height: 32px;
        fill: yellow;



    }


    &__button {
        display: flex;
        flex-direction: row-reverse;
        width: 410px;
        height: 50px;
        padding: 8px 20px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;

        gap: 15px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--Theme-Yellow, #FFBC57);

        color: #FFF;

        text-align: center;
        /* H5 - Headline */
        font-family: "Montserrat";
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 126.316% */
        position: relative;
    }

    &__itemButton {
        padding-bottom: 70px;
    }

    &__buttonSvg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        position: absolute;
        left: 80px;
        fill: #FFFFFF;

    }

    @media screen and (max-width: 320px) {
        .route{

            &__button{
        width: 320px;
            height: 50px;
            }
        &__buttonSvg{
            left: 40px;
        }
        
        &__text{
            width: 100%;
        }
        }
    }

    @media screen and (min-width: 1200px) {
        .route__list {
            display: flex; 
            flex-wrap: wrap;
            justify-content: space-between;
            max-height: 360px;
            row-gap: 10px;
        }

        .route__item{
        max-width: 630px;
        }
    }
}