@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

.categories {
    @include block-model(0 0 80px 0, none, 0, 0);
    background-color: $light-color;

    @media screen and (min-width: 1290px) {
        @include block-model(70px 0 70px 0, none, 0, 0);
    }

    &__container {
        @extend %flex-center3;
        flex-direction: column;
    }

    &__title {
        text-align: left;
        @include block-model(0, none, 0, 0 0 40px 0);
        @include font($dark-color, 1.33, 30px, 600);

        @media screen and (min-width: 1290px) {
            @include font($dark-color, 1.2, 40px, 600);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;

        @media screen and (min-width: 1290px) {
            row-gap: 24px;
            column-gap: 10px;
            @include size(1290px, auto);
        }
    }

    &__item {
        position: relative;
        // flex-basis: calc((100% - 10px) / 2);
        @include size(196px, 236px);
        background: no-repeat #fff;
        @include block-model(0, 2px solid $light-color, 8px, 0);

        transition-duration: 500ms;
        transition-property: border;

        &:hover {
            border: 2px solid $yellow-color;
        }

        @media screen and (min-width: 1290px) {
            // flex-basis: calc((100% - 40px) / 5);
            @include size(246px, 296px);
        }
    }

    &__subtitle {
        @extend %position7;
        @include font($dark-color, 1.26, 19px, 600);

        transition-duration: 500ms;
        transition-property: color;

        @media screen and (min-width: 1290px) {
            top: 20px;
            left: 20px;

            @include font($dark-color, 1.4, 20px, 600);
        }
    }

    &__item:hover > &__subtitle {
        color: $yellow-color;
    }

    &__number {
        @extend %position8;
        @include font($grey-light-color, 1.26, 19px, 600);

        @media screen and (min-width: 1290px) {
            top: 20px;
            right: 20px;

            @include font($grey-light-color, 1.4, 20px, 600);
        }
    }

    &__button {
        @extend %position9;
        opacity: 0;
        @include size(40px, 40px);
        background-color: transparent;
        @include block-model(0, none, 50%, 0);

        transition-property: opacity;
        transition-duration: 500ms;

        @media screen and (min-width: 1290px) {
            bottom: 20px;
            right: 20px;
            @include size(50px, 50px);
        }
    }

    &__item:hover > &__button {
        opacity: 1;
        fill: $yellow-color;
    }

    &__icon {
        @include size(18px, 18px);
        fill: $yellow-color;

        @media screen and (min-width: 1290px) {
            @include size(22px, 22px);
        }
    }

    &__item:nth-child(1) {
        background: url(../../../images/main/mobile/1x/bed@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/bed@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/bed@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/bed@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(2) {
        background: url(../../../images/main/mobile/1x/matress@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/matress@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/matress@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/matress@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(3) {
        background: url(../../../images/main/mobile/1x/furniture@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/furniture@2x.webp) contain / center no-repeat #fff;
        }

        @media screen  and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/furniture@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/furniture@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(4) {
        background: url(../../../images/main/mobile/1x/shafa@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/shafa@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/shafa@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/shafa@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(5) {
        background: url(../../../images/main/mobile/1x/komod@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/komod@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/komod@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/komod@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(6) {
        background: url(../../../images/main/mobile/1x/shelf@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/shelf@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/shelf@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/shelf@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(7) {
        background: url(../../../images/main/mobile/1x/table@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/table@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/table@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/table@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(8) {
        background: url(../../../images/main/mobile/1x/chair@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/chair@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/chair@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/chair@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(9) {
        background: url(../../../images/main/mobile/1x/furniture-walls@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/furniture-walls@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/furniture-walls@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/furniture-walls@2x.webp) contain / center no-repeat #fff;
            }
        }
    }

    &__item:nth-child(10) {
        background: url(../../../images/main/mobile/1x/kitchen@1x.webp) center no-repeat #fff;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url(../../../images/main/mobile/2x/kitchen@2x.webp) contain / center no-repeat #fff;
        }

        @media screen and (min-width: 1290px) {
            background: url(../../../images/main/desktop/1x/kitchen@1x.webp) center no-repeat #fff;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background: url(../../../images/main/desktop/2x/kitchen@2x.webp) contain / center no-repeat #fff;
            }
        }
    }
}