@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

.promotions {
  @include block-model(0 0 60px 0, none, 0, 0);
  background-color: $light-color;
  overflow-x: hidden;

  @media screen and (min-width: 1290px) {
    @include block-model(0 0 70px 0, none, 0, 0);
  }

  &__title {
    text-align: left;
    @include size(auto, auto);
    @include font($dark-color, 1.33, 30px, 600);

    @media screen and (min-width: 768px) {
      @include size(215px, auto);
    }

    @media screen and (min-width: 1290px) {
      @include size(91px, auto);
      @include font($dark-color, 1.2, 40px, 600);
    }
  }

  &__titleBox {
    @extend %flex-center;
    @include block-model(0, none, 0, 0 auto 40px auto);
    gap: 30px;

    @media screen and (min-width: 1200px) {
      @include size(410px, auto);
    }

    @media screen and (min-width: 1290px) {
      @include size(1290px, auto);
    }
  }

  &__link {
    @extend %flex-center;
    gap: 10px;
    @include font($yellow-color, 1.26, 19px, 600);
    @extend %animation-of-button;
  }

  &__couple {
    display: none;
    @include block-model(0, none, 0, 0 0 0 auto);
    gap: 20px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__titleArrow {
    @include size(24px, 24px);
    fill: $yellow-color;
  }

  &__arrow {
    @extend %flex-center;
    @include block-model(0, none, 0, 0 0 0 auto);
    @include size(50px, 20px);
    fill: $yellow-color;
  }

  &__arrow1 {
    @include block-model(0, none, 0, 0 auto 0 0);
    @include size(57px, 20px);
  }

  &__button {
    @include size(60px, 60px);
    background-color: #fff;
    @include block-model(0, none, 50%, 0);
  }

  &__list {
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__item {
    cursor: pointer;
    flex-basis: calc((100% - 60px) / 3);
  }

  &__photo {
    @include size(410px, auto);
    @include block-model(0, none, 8px, 0);
  }

  &__item:nth-child(1) {
    @extend %flex-center;
    text-align: center;
    @include block-model(0, none, 0, 0 auto 0 auto);
  }

  &__photo2 {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__photo3 {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__circles {
    @extend %flex-center;
    @include block-model(0, none, 0, 20px 0 0 0);
    gap: 10px;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__circle {
    &:nth-child(3) > .promotions__round {
      background-color: $yellow-color;
      @include block-model(0, 3px solid #fff, 50%, 0);
    }
  }

  &__round {
    @include size(15px, 15px);
    background-color: #fff;
    @include block-model(0, 2px solid $grey-light-color, 50%, 0);
  }
}
