@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

.shares {
  padding-top: 70px;
  background-color: #f8f8f8;

  @media screen and (min-width: 768px) {
    padding-bottom: 70px;
  }

  &__title {
    color: $dark-color;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 133%;
    margin: 0 0 40px 0;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 120%;
    }
  }

  &__item {
    display: flex;
    gap: 20px;
    max-width: 410px;
    align-items: center;

    @media screen and (min-width: 768px) {
      //   max-width: 234px;
      flex-direction: column;
      align-items: center;
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1290px) {
      flex-basis: calc((100% - 120px) / 5);
      justify-content: start;
    }
  }

  &__icon {
    fill: $yellow-color;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }

  &__text {
    color: $dark-color;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;

    @media screen and (min-width: 768px) {
      text-align: center;
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }

    @media screen and (min-width: 1290px) {
      justify-content: start;
    }
  }

  &__disclaimer {
    color: $dark-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
    padding-top: 40px;
    margin: 0;
  }
}
