.characteristic {
    background-color: #f8f8f8;
    padding-bottom: 70px;
  
    &__title {
      color: black;
      text-align: left;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.33;
      margin-bottom: 30px;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  
    &__item {
      background-color: #fff;
      display: flex;
      width: 100%;
      padding: 15px 10px;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
  
      @media screen and (max-width:480px) {
        width: auto;
      }
  
      @media screen and (min-width: 1290px) {
        width: 850px;
      }
    }
  
    &__leftText {
      color: grey;
      
      font-size: 17px;
      font-weight: 400;
      line-height: 1.41;
      white-space: nowrap;
    }
  
    &__dots {
      width: 100%;
      height: 0px;
      border: dotted 1px #6A6A6A;
    }
  
    &__rightText {
      color: grey;
      text-align: right;
      
      font-size: 17px;
      font-weight: 400;
      line-height: 1.41;
      white-space: nowrap;
    }
  }
  [data-aos^=fade][data-aos^=fade] {
    opacity: 0;
}