.write {
    background-color: whitesmoke;
    max-width: 100%;
    padding-top: 70px;
    padding-bottom: 60px;




    @media screen and (min-width: 1200px) {
        padding-bottom: 70px;
    }

    &__container {
        max-width: 1290px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    &__input {
        display: flex;
        width: 275px;
        height: 30px;
        padding: 10px 20px;
        align-items: flex-start;

        gap: 10px;
        border-radius: 8px;
        border: 1px solid var(--Theme-Grey-light, #D1D5D5);
        background: #FFF;


        color: var(--Theme-Grey, #535353);
        font-family: "Proxima Nova";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;

    }

    &__button {
        display: flex;
        width: 410px;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border-radius: 8px;
        color: #FFF;
        text-align: center;


        font-family: "Proxima Nova";
        font-size: 19px;
        font-weight: 600;
        line-height: 24px;
        border-radius: 8px;
        background: var(--Theme-Yellow, #FFBC57);
        margin-top: 20px;
    }

    &__coment {
        display: flex;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 116px;
        align-items: flex-start;
        gap: 10px;
    }

    &__one {
        color: var(--Theme-Dark, #2B2929);
        font-family: "Proxima Nova";
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
        margin-bottom: 10px;
    }

    &__two {
        color: var(--Theme-Dark, #2B2929);
        font-family: "Proxima Nova";
        font-size: 26px;
        font-weight: 600;
        line-height: 34px;
        width: 300px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;


    }

    &__three {
        color: var(--Theme-Yellow, #FFBC57);
        font-family: "Proxima Nova";
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    &__itemText {
        align-items: center;
        margin-bottom: 10px;
    }

    &__twoItem {
        max-width: 480px;
    }

    &__listText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    &__box {
        width: 410px;
        height: 740px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
padding-left: 0;
padding-right: 0;

    }

    &__three {
        text-align: center;
    }

    &__button {
        width: 320px;
    }

    @media screen and (min-width: 480px) {

        .write {

            &__two {
                width: 410px;
            }



            &__three {
                text-align: center;
                margin-right: auto;
                margin-left: auto;
            }

            &__input {
                width: 400px;

            }
        }
    }



    @media screen and (min-width: 1200px) {
        .write__container {
            background-size: cover;
            background-repeat: no-repeat;
            // background-image: url(/images/contacts-page/write-bg@1x.webp);
            flex-direction: row;
            justify-content: space-between;
            padding-left: 50px;
            padding-top: 50px;
            padding-bottom: 25px;

                        @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            // background-image: url(/images/contacts-page/write-bg@2x.webp);
                        }
        }

        .write__button {
            height: 50px;
            width: 240px;
        }

        .write__listText {
            width: 65%;
        }

        .write__form {
            align-items: start;
        }

        .write__input {
            max-width: 100%;
        }

        .write__itemText {
            display: flex;
        }

        .write__two {
            margin: 0 0;
            display: flex;
            text-align: start;
            width: 470px;
        }

        .write__three {
            text-align: start;
            margin-left: 0;
            margin-right: 0;
            width: 410px;
        }




    }

}

.write .container {
    overflow: visible;
}