.Favorite{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    background: #edededa2;
    row-gap: 10px;
}
.Item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220PX;
    &_image{
        width: 160px;
        height: 120px;
        box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06); 
    }
    &_titleName{
        font-weight: 600;
        font-size: 19px;
    }
}