@import "../../styles/mixins.scss";
@import "../../styles/placeholders.scss";
@import "../../styles/vars.scss";

.questions {
  overflow-x: hidden;

  @include block-model(60px 0 60px 0, none, 0, 0);
  background-color: $light-color;

  & h2 {
    margin: 0 auto;
  }

  input {
    @include size(260px, 50px);
    // outline: 2px solid red;
    cursor: pointer;

    @media screen and (min-width: 440px) {
      @include size(370px, 50px);
    }

    @media screen and (min-width: 768px) {
      @include size(698px, 50px);
    }

    @media screen and (min-width: 1290px) {
      @include size(1040px, 50px);
    }
  }

  &__container {
    @extend %flex-center;
    flex-direction: column;
  }

  &__paragraph {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    margin: 0;

    .questions__checkbox:checked ~ & {
      max-height: 1000px;
      margin: 15px auto auto auto;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    
    &:checked ~ .questions__label .questions__subtitleButton {
      transform: rotate(180deg);
    }
  }

  & ul {
    list-style: none;
    margin: 40px auto 0 auto;
  }

  .questions__item {
    position: relative;
    box-sizing: border-box;
    @include block-model(15px, none, 8px, 0 0 15px 0);
    @include size(290px, auto);
    gap: 10px;
    margin: 0 auto 15px auto;
    background: #fff;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);

    border: 2px solid transparent;
    transition: border-color 0.3s ease;

    @media screen and (min-width: 440px) {
      @include size(410px, auto);
    }

    @media screen and (min-width: 768px) {
      @include size(738px, auto);
    }

    @media screen and (min-width: 1290px) {
      @include size(1070px, auto);
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $yellow-color;
    }
  }

  &__item > input:checked ~ .questions__paragraph {
    max-height: 1000px;
  }

  &__title {
    @extend %flex-center;
    text-align: center;
    @include block-model(0, none, 0, 0 0 40px 0);
    @include font($dark-color, 1.33, 30px, 600);

    @media screen and (min-width: 1290px) {
      @include font($dark-color, 1.2, 40px, 600);
    }
  }

  &__item:nth-child(1) > &__box > &__icon {
    @include size(43px, 50px);
  }

  &__item:nth-child(2) > &__box > &__icon {
    @include size(43px, 50px);
  }

  &__item:nth-child(3) > &__box > &__icon {
    @include size(43px, 50px);
  }

  &__item:nth-child(4) > &__box > &__icon {
    @include size(43px, 50px);
  }

  &__item:nth-child(5) > &__box > &__icon {
    @include size(43px, 50px);
  }

  &__subtitle {
    @include block-model(0, none, 0, 0 0 0 15px);
    @include size(290px, auto);
    @include font($dark-color, 1.26, 15px, 600);
    text-align: left;
    transition: all 0ms ease;

    @media screen and (min-width: 440px) {
      @include font($dark-color, 1.26, 19px, 600);
    }

    @media screen and (min-width: 768px) {
      @include size(600px, auto);
    }

    @media screen and (min-width: 1290px) {
      @include size(946px, 24px);
    }
  }

  &__subtitleButton {
    position: absolute;
    right: 15px;
    text-align: center;
    @include block-model(0, none, 0, auto auto auto 15px);
    @include size(20px, 20px);

    transition: all 0.35s;

    @media screen and (min-width: 440px) {
      @include size(24px, 24px);
    }
  }

  &__item:nth-child(2) > &__subtitle-button {
    top: 40px;

    @media screen and (min-width: 440px) {
      top: 45px;
    }

    @media screen and (min-width: 768px) {
      top: 37px;
    }
  }

  &__item:nth-child(2) > input:checked + &__subtitle-button {
    top: 30px;

    @media screen and (min-width: 440px) {
      top: 35px;
    }

    @media screen and (min-width: 768px) {
      top: 27px;
    }
  }

  input:checked + &__subtitle-button {
    top: 27px;
    transform: rotate(270deg);
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
  }

  &__text {
    @include font($dark-color, 1.87, 16px, 400);
    text-align: left;
  }

  &__textBox {
    @include block-model(0, none, 0, 0 0 24px 0);
  }

  &__textBox:first-child {
    @include block-model(0, none, 0, 0 0 10px 0);
  }

  &__textBox:last-child {
    @include block-model(0, none, 0, 0);
  }

  &__box {
    @extend %flex-center2;
  }
}
