.reviews {
      &__reviewsList {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        gap: 30px;
    
        @media screen and (min-width: 1200px) {
          margin-top: 40px;
        }
      }
    
      &__reviewsItem {
        padding: 15px;
        max-width: 790px;
        border-radius: 8px;
        border: 1px solid #e3e2e2;
        background: #fff;
        box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    
        @media screen and (min-width: 480px) {
          padding: 30px;
        }
      }
    
      &__reviewsBoxTop {
        display: flex;
        align-items: center;
        padding-right: 0;
        padding-left: auto;
      }
    
      &__reviewsIconBox {
        border-radius: 50%;
        border: 1px solid #FFBC57;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 50px;
        width: 100%;
      }
    
      &__reviewsIconPeople {
        fill: black;
        width: 18px;
        height: 18px;
      }
    
      &__reviewsMobBox {
        display: flex;
        margin-right: 0;
        padding-left: auto;
        gap: auto;
        max-width: 850px;
        width: 100%;
        flex-direction: column;
    
        @media screen and (min-width: 1200px) {
          flex-direction: row;
        }
      }
    
      &__reviewsName {
        color: black;
        font-family: "Proxima Nova";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-left: 20px;
        margin-right: auto;
      }
    
      &__reviewsStarList {
        display: flex;
        margin-left: 20px;
        padding-right: 0;
        gap: 4px;
    
        @media screen and (min-width: 1200px) {
          margin-left: auto;
        }
      }
    
      &__reviewsStarIcon {
        fill: #FFBC57;
        width: 18px;
        height: 18px;
    
        @media screen and (min-width: 480px) {
          width: 24px;
          height: 24px;
        }
      }
    
      &__reviewsDate {
        color: #535353;
        text-align: right;
        font-family: "Proxima Nova";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-right: 0;
        margin-left: 20px;
      }
    
      &__reviewsText {
        color: grey;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        max-width: 790px;
        margin-top: 30px;
      }
    
      &__reviewsBox {
        display: flex;
        margin-top: 30px;
        gap: 10px;
        align-items: center;
      }
    
      &__reviewsIconTextBox {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        outline: 1px solid #FFBC57;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      &__reviewsIcon {
        fill: #FFBC57;
      }
    
      &__reviewsImg {
        max-width: 50px;
        max-height: 50px;
      }
    
      &__reviewsSubtext {
        color: grey;
        font-family: "Proxima Nova";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        transition-property: color;
        transition-duration: 250ms;
      }
    
      &__reviewsSubtext:hover {
        color: #FFBC57;
      }
    
      &__buttonList {
        display: none;
        gap: 10px;
        justify-content: center;
        margin-top: 30px;
    
        @media screen and (min-width: 1200px) {
          display: flex;
        }
      }
    
      &__button {
        padding: 13px 22px;
        border-radius: 8px;
        border: 1px solid grey-light;
        background: #fff;
        transition-property: border color background fill;
        transition-duration: 250ms;
        font-family: "Proxima Nova";
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
      }
    
      &__button:hover {
        background-color: #FFBC57;
        color: white;
        border: 1px solid transparent;
      }
    
      &__button:hover &__buttonIcon {
        fill: white;
      }
    
      &__firstButton {
        background-color: #FFBC57;
        color: white;
        border: 1px solid transparent;
      }
    
      &__firstButtonIcon {
        transform: rotate(180deg);
      }
    
      &__buttonIcon {
        width: 8px;
        height: 12px;
        fill: black;
      }
    
      &__lastButton {
        color: #fff;
        text-align: center;
        font-family: "Proxima Nova";
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        display: flex;
        width: 320px;
        height: 50px;
        padding: 8px 20px;
        gap: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        border-radius: 8px;
        background: #FFBC57;
        align-items: center;
        justify-content: center;
        transform: scale(0.9);
        transition-property: transform;
        transition-duration: 250ms;
    
        @media screen and (min-width: 480px) {
          width: 410px;
        }
    
        @media screen and (min-width: 1200px) {
          width: 300px;
        }
      }
    
      &__lastButton:hover {
        transform: scale(1);
      }
    
      &__lastIcon {
        width: 24px;
        height: 24px;
        fill: white;
      }
}