.hero {
  padding-top: 8px;
  background-color: #f8f8f8;
  padding-bottom: 50px;

  &__nav {
    display: flex;
    margin-bottom: 30px;
  }

  &__link {
    color: rgb(0, 0, 0);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    white-space: nowrap;

    &:hover {
      color: #ffbc57;
      transition-duration: 250ms;
    }
  }

  &__linkMobBug {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__activeLinkDesk {
    color: #ffbc57;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__activeLinkMob {
    color: #ffbc57;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__arrowBox {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    padding-top: 3px;
  }

  &__arrow {
    fill: #535353;
    height: 9px;
  }

  &__arrowMobBug {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__container {
    @media screen and (min-width: 1290px) {
      display: flex;
      gap: 30px;
    }
  }

  &__titleMob {
    color: #2b2929;

    font-size: 30px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 20px;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__activeBoxMob {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
  }

  &__modelMob {
    margin-top: 10px;
    color: var(--Theme-Grey, #535353);
text-align: left;
font-size: 17px;
font-weight: 400;
line-height: 1.41;
  }

  &__container1 {
    position: relative;
  }

  &__img {
    width: 410px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;

    @media screen and (max-width: 420px) {
      width: 100%;
      height: auto;
    }

    @media screen and (min-width: 1290px) {
      width: 630px;
      height: 538px;
    }
  }

  &__buttonsMob {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__buttonMob {
    padding: 0;
    background-color: transparent;
  }

  &__buttonBorderMob {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(177, 177, 177, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__buttonBcMob {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__buttonActiveBorderMob {
    background-color: #fff;
  }

  &__buttonActiveBcMob {
    background-color: #ffbc57;
  }

  &__buttonLeft {
    position: absolute;
    top: 239px;
    left: 20px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.07);
      box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
    }

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__svgLeft {
    width: 11px;
    height: 20px;
    fill: #ffbc57;
    transform: rotate(180deg);
  }

  &__buttonRight {
    position: absolute;
    top: 239px;
    right: 20px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.07);
      box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
    }

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__svgRight {
    width: 11px;
    height: 20px;
    fill: #ffbc57;
  }

  &__images {
    display: none;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;

    @media screen and (min-width: 1290px) {
      display: flex;
      width: 630px;
    }
  }

  &__currentImage {
    width: 123px;
    height: 123px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 2px #ffbc57;
    transition: all 0.3s ease;
  }

  &__image {
    width: 123px;
    height: 123px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__imageImg {
    width: 100px;
  }

  &__titleDesk {
    color: #2b2929;

    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
      text-align: left;
    }
  }

  &__frameDesk {
    display: none;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__frameMob {
    margin-bottom: 20px;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__activeBox {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__checkSvg {
    width: 24px;
    height: 24px;
    fill: #82b09d;
  }

  &__active {
    color: #2b2929;

    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
  }

  &__starBox, &__starList {
    display: flex;
    align-items: center;
  }

  &__star {
    width: 24px;
    height: 24px;
    fill: #ffbc57;
  }

  &__commentBox {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__comment {
    fill: #535353;
    margin-right: 2px;
  }

  &__rewievs {
    color: #535353;

    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }

  &__model {
    color: #535353;

    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }
}

.heroBox {
  padding: 20px 20px 30px 20px;
  border-radius: 8px 8px 0 0;
  background: #fff;
  &__korzina {
    margin: 0;
  }
  &__header {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    @media screen and (min-width: 1290px) {
      justify-content: space-between;
      padding-bottom: 20px;
    }
  }

  &__costBox {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 1290px) {
      gap: 20px;
      flex-direction: row;
    }
  }

  &__cost {
    color: dark;

    font-size: 30px;
    font-weight: 600;
    line-height: 1.33;
  }

  &__nonCost {
    color: #e03d3d;

    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    text-decoration-line: line-through;
  }

  &__favoritesBox {
    align-items: center;
    gap: 10px;
    display: none;

    @media screen and (min-width: 1290px) {
    display: flex;
    }
  }
  &__heardSvgBorder{
    background: none;
  }
  &__heardSvg {
    width: 50px;
    height: 50px;
  }

  &__favorites {
    color: #535353;

    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: #c5c5c5;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    @media screen and (max-width: 420px) {
      flex-direction: column;
      align-items: start;
    }

            @media screen and (max-width: 1290px) {
      gap: 10px;
    }
  }

  &__item {
    width: 190px;

    @media screen and (max-width: 420px) {
      width: 100%;
    }

    @media screen and (min-width: 1290px) {
      width: auto;
    }
  }

  &__itemFlex {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
  }

  &__svgQuestion {
    fill: rgba(177, 177, 177, 1);
  }

  &__text {
    color: dark;

    font-size: 17px;
    font-weight: 400;
    line-height: 1.41; 

        @media screen and (max-width: 1290px) {
      font-size: 15px;
    }
  }
  &__choiceText {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    background: #f8f8f8;
    border-color: beige;

    @media screen and (min-width: 1290px) {
      width: 280px;
    }
  }

  &__arrow {
    height: 11px;
    width: 6px;
    transform: rotate(90deg);
    margin-left: auto;
  }

  &__chooseClothFlex {
    display: flex;
    gap: 5px;
    margin-top: 30px;
    align-items: center;

    @media screen and (min-width: 1290px) {
      margin-top: 20px;
    }
  }

  &__chooseCloth {
    color: dark;

    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }

  &__cloths {
    display: flex;
    gap: 15px;
    align-items: start;
    margin-top: 10px;

    @media screen and (min-width: 1290px) {
      gap: 20px;
    }

    @media screen and (max-width: 420px) {
      flex-wrap: wrap;
    }
  }

  &__cloth {
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    @media screen and (min-width: 1290px) {
      width: 70px;
      height: 70px;
    }
  }

  &__clothGreen {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__clothBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    @media screen and (min-width: 1290px) {
      width: 70px;
      height: 70px;
    }
  }

  &__clothCurrent {
    position: relative;
  }

  &__clothImgCheckMark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }

  &__moreLink {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      justify-content: start;
    }
  }

  &__moreText {
    color: #ffbc57;

    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }

  &__moreSvg {
    width: 8px;
    height: 11px;
    transform: rotate(180deg);
    fill: #ffbc57;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
  }

  &__kolVo {
    display: flex;
    gap: 15px;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #b1b1b1;
    background: #f8f8f8;

    @media screen and (min-width: 1290px) {
      width: 110px;
    }
  }

  &__number {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__btnMinus{
    display: flex;
    flex-direction: column ;
    font-size: 40px;
    background: none;
    height: 35px;
    justify-content: center;
  }
  &__btnPlus {
    font-size: 25px;
    background: none;
  }

  &__svgMinus,
  &__svgPlus {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: #535353;
  }

  &__buyBtn {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #ffbc57;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1290px) {
      width: 208px;
    }

    &:hover {
      background-color: rgb(239, 179, 89);
    }
  }

  &__cartIcon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #fff;
  }

  &__buyBtn span {
    color: #fff;
    text-align: center;

    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
  }

  &__creditBtn {
    display: flex;
    height: 50px;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #ffbc57;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(239, 179, 89, 0.088);
    }
  }

  &__creditSvg {
    width: 24px;
    height: 24px;
    fill: #ffbc57;
  }

  &__creditBtn span {
    color: #535353;
    text-align: center;

    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
  }

  &__mobFavoritesBox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__mobHeartSvg {
    height: auto;
    width: auto;
  }

  &__mobFavorites {
    color: #535353;

    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
  }

  &__footer {
    background-color: #f8f8f8;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    gap: 20px;
    box-shadow: -3px 4px 15px 0px#F8F8F8;
  }

  &__callSvg {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    fill: rgba(177, 177, 177, 1);
  }

  &__callNumber {
    color: rgba(177, 177, 177, 1);

    font-size: 20px;
    line-height: 1.4;
    width: 151px;
    height: 30px;
    flex-shrink: 0;

    @media screen and (max-width: 420px) {
      width: 120px;
      height: auto;
    }

    @media screen and (min-width: 1290px) {
      width: 293px;
      text-align-last: left;
    }
  }

  &__btnClick {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid #535353;
    color: #535353;
    text-align: center;

    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1290px) {
      width: 212px;
      margin-left: auto;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.041);
      transform: scale(1.05);
    }
  }
}

.heroConsultation {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  @media screen and (min-width: 1290px) {
    display: none;
  }

  &__text {
    color: #535353;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;
  }

  &__flex {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__boxHelp {
    display: flex;
    margin-bottom: 40px;
  }

  &__svgBug {
    background-color: rgba(117, 183, 59, 1);
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  &__svgWhatsapp {
    fill: #fff;
    width: 24px;
    height: 24px;
  }

  &__telegram {
    margin-right: 15px;
    margin-left: 15px;
  }

  &__svg {
    width: 39px;
    height: 39px;
    background-color: #fff;
    border-radius: 50%;
  }
}