.topic {
  

  // @media (min-display-pixe-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background: url(../images/mobile/about-bg@2x.webp) bottom / contain
  //     no-repeat #F8F8F8;
  // }

  // background: url(../../../images/about-us/topic-img.png) 55% 35% / 1300px  no-repeat
  // #F8F8F8;
  
  // @media screen and (min-width: 768px) {
  //   padding: 40px 0 70px;
  //   background: url(../../../images/about-us/topic-img.png) 80% 45% / 400px  no-repeat
  // #F8F8F8;
  // }
  padding: 40px 0 70px;

  @media screen and (min-width: 850px) {
    margin: 0;
    // padding: 10px 0 70px;
    background: url(../../../images/about-us/topic-img.png) 80% 45% / 500px  no-repeat
  #F8F8F8;
  }
  @media screen and (min-width: 1290px) {
    margin: 0;
    padding: 40px 0 70px;
    background: url(../../../images/about-us/topic-img.png) 55% 35% / 1300px  no-repeat
  #F8F8F8;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 850px) {
      // max-width: 1290px;
      padding: 50px 300px 40px 0px;
      border: none;
      border-radius: 8px;
      margin: 0 auto 0 auto;

      align-items: center;

    }

    @media screen and (min-width: 1290px) {
      max-width: 1290px;
      padding: 100px 50px 71px 50px;
      border: none;
      border-radius: 8px;
      margin: 0 auto;

      align-items: flex-start;

      // background: url(../images/desktop/about-bg@1x.webp) right / contain
      //   no-repeat #fdfdfd;

      // @media (min-display-pixe-ratio: 2),
      //   (min-resolution: 192dpi),
      //   (min-resolution: 2dppx) {
      //   background: url(../images/desktop/about-bg@2x.webp) right / contain
      //     no-repeat #fdfdfd;
      // }
    }
  }
  &__img{
    
    @media screen and (min-width: 850px) {
      display: none;
    }

  }
  &__title {
    text-align: center;
    color: #2b2929;
    line-height: 1.33;
    font-size: 30px;
    font-weight: 600;

    @media screen and (min-width: 1290px) {
      color: #2b2929;
      line-height: 1.33;
      font-size: 48px;
      font-weight: 600;
    }
  }

  &__subtitle {
    max-width: 450px;
    margin: 30px 0 20px;

    color: #2b2929;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 600;
    text-align: cetern;

    @media screen and (min-width: 1290px) {
      text-align: left;

      color: #2b2929;
      line-height: 1.4;
      font-size: 26px;
      font-weight: 600;
    }
  }

  &__text {
    text-align: center;
    max-width: 450px;
    color: #2b2929;
    line-height: 1.87;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    @media screen and (min-width: 1290px) {
      text-align: left;
      color: #2b2929;
      line-height: 1.87;
      font-size: 20px;
      font-weight: 400;
    }
  }
}
