@import "../../../styles/placeholders.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

.blog {
  &__pages {
    @extend %flex-center2;
    @include block-model(0, none, 0, 0 0 40px 0);
    gap: 10px;
  }

  &__pagesSvg {
    @extend %flex-center;
    @include size(10px, 10px);
    fill: $grey-color;
  }

  &__page {
    @include font($grey-color, 1.87, 16px, 400);
  }

  &__activePage {
    color: $yellow-color;
  }

  &__title {
    text-align: center;
    @include block-model(0, none, 0, 0 0 40px 0);
    @include font($dark-color, 1.33, 30px, 600);

    @media screen and (min-width: 1290px) {
      text-align: left;
      @include font($dark-color, 1.2, 40px, 600);
    }
  }

  &__titleArrow {
    @include size(24px, 24px);
    fill: $yellow-color;
  }

  &__list {
    @extend %flex-center;
    flex-wrap: wrap;
    @include block-model(0, none, 0, 0 auto 0 auto);
    gap: 30px;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      @include size(100%, auto);
    }
  }

  &__item {
    @include block-model(0 0 20px 0, 1px solid #e3e2e2, 8px, 0);
    @include size(290px, 400px);

    background-color: #fff;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);

    @media screen and (min-width: 440px) {
      @include block-model(0 0 20px 0, 1px solid #e3e2e2, 8px, 0);
      @include size(410px, 476px);
    }

    @media screen and (min-width: 880px) {
      flex-basis: calc((100% - 30px) / 2);
      @include size(290px, 400px);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
      @include size(410px, 476px);
    }
  }

  &__item:nth-child(10) {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__item:nth-child(11) {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__item:nth-child(12) {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__photo {
    @include size(290px, 200px);
    @include block-model(0, none, 8px, 0);

    @media screen and (min-width: 440px) {
      @include size(410px, 270px);
    }

    @media screen and (min-width: 880px) {
      @include size(354px, 225px);
    }

    @media screen and (min-width: 1200px) {
      @include size(384px, 270px);
    }

    @media screen and (min-width: 1290px) {
      @include size(410px, 270px);
    }
  }

  &__subtitle {
    @extend %flex-center;
    @include block-model(0, none, 0, 15px);
    @include size(260px, 120px);
    @include font($dark-color, 1.31, 22px, 600);
    text-align: start;

    @media screen and (min-width: 440px) {
      @include size(350px, 102px);
      @include font($dark-color, 1.31, 26px, 600);
      @include block-model(0, none, 0, 30px);
    }

    @media screen and (min-width: 880px) {
      @include block-model(0, none, 0, 0 0 0 15px);
      @include size(280px, 120px);
      @include font($dark-color, 1.31, 22px, 600);
    }

    @media screen and (min-width: 1200px) {
      @include size(300px, 102px);
      @include font($dark-color, 1.31, 24px, 600);
      @include block-model(0, none, 0, 30px);
    }

    @media screen and (min-width: 1290px) {
      @include size(350px, 102px);
      @include font($dark-color, 1.31, 26px, 600);
      @include block-model(0, none, 0, 30px);
    }
  }

  &__listLink {
    cursor: pointer;
    @extend %flex-center2;
    @include block-model(0, none, 0, 0 0 0 15px);
    gap: 10px;
    @include font($yellow-color, 1.26, 19px, 600);

    @media screen and (min-width: 440px) {
      @include block-model(0, none, 0, 0 0 0 30px);
    }

    @media screen and (min-width: 880px) {
      @include block-model(0, none, 0, 0 0 0 15px);
    }

    @media screen and (min-width: 880px) {
      @include block-model(0, none, 0, 0 0 0 30px);
    }
  }

  &__mainButton {
    @extend %flex-center;
    @include block-model(8px 20px, none, 8px, 30px auto 0px auto);
    @include size(290px, 50px);
    gap: 15px;
    background-color: $yellow-color;
    border: 2px solid transparent;

    transition-property: background-color border;
    transition-duration: 2500ms;

    &:hover,
    &:focus {
      border: 2px solid $yellow-color;
      background-color: #fff;

      transition-property: background-color border;
      transition-duration: 2500ms;
    }

    @media screen and (min-width: 440px) {
      @include size(410px, 50px);
    }

    @media screen and (min-width: 880px) {
      @include size(354px, 50px);
    }

    @media screen and (min-width: 1290px) {
      @include size(300px, 50px);
    }

    &Arrow {
      @include size(24px, 24px);
      fill: #fff;

      transition-property: fill;
      transition-duration: 500ms;
    }

    &:hover > &Arrow {
      fill: $yellow-color;

      transition-property: fill;
      transition-duration: 500ms;
    }

    &Text {
      @include font(#fff, 1.26, 19px, 600);

      transition-property: color;
      transition-duration: 500ms;
    }

    &:hover > &Text {
      color: $yellow-color;

      transition-property: color;
      transition-duration: 500ms;
    }
  }

  &__list2 {
    display: none;
    justify-content: center;
    @include block-model(0, none, 0, 30px auto 0px auto);
    gap: 10px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__item2:nth-child(1) > &__button {
    @include block-model(
      13px 11px 13px 18px,
      1px solid $grey-light-color,
      8px,
      0
    );
    background: #fff;

    transition-property: background-color fill border;
    transition-duration: 500ms;

    &:hover,
    &:focus {
      @include block-model(13px 11px 13px 18px, none, 8px, 0);
      background-color: $yellow-color;
    }
  }

  &__item2:nth-child(1) > &__button:hover > &__pages-svg {
    fill: #fff;
  }

  &__item2:nth-child(2) > &__button {
    @include block-model(13px 15px 13px 15px, none, 8px, 0);
    background: $yellow-color;
    color: #fff;
  }

  &__item2:nth-child(11) > &__button {
    @include block-model(
      13px 5px 13px 22px,
      1px solid $grey-light-color,
      8px,
      0
    );
    background: #fff;

    transition-property: background-color fill border;
    transition-duration: 500ms;

    &:hover,
    &:focus {
      @include block-model(13px 5px 13px 22px, none, 8px, 0);
      background-color: $yellow-color;

      transition-property: background-color color border;
      transition-duration: 500ms;
    }
  }

  &__item2:nth-child(11) > &__button:hover > &__pages-svg {
    fill: #fff;
  }

  &__button {
    @include block-model(
      13px 15px 13px 15px,
      1px solid $grey-light-color,
      8px,
      0
    );
    @include size(50px, 50px);

    background-color: #fff;
    @include font($grey-color, 1.42, 17px, 400);

    transition-property: background-color color border;
    transition-duration: 500ms;

    &:hover,
    &:focus {
      @include block-model(13px 15px 13px 15px, 1px solid transparent, 8px, 0);
      background-color: $yellow-color;
      color: #fff;

      transition-property: background-color color border;
      transition-duration: 500ms;
    }
  }
}
