@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

.price {
  padding-top: 70px;
  padding-bottom: 70px;

  &__title {
    @include font($dark-color, 133%, 30px, 600);
    text-align: center;
    margin: 0 0 40px 0;

    @media screen and (min-width: 768px) {
      @include font($dark-color, 120%, 40px, 600);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    padding: 15px 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;

    &:nth-child(odd) {
      background-color: #F8F8F8;
    }

    &:nth-child(even) {
      background-color: #ffffff;
    }
  }

  &__item:first-child p {
    background-color: #535353; 
  }

  &__item:nth-child(odd) p {
    background-color: #F8F8F8; 
  }

  &__item:nth-child(even) p {
    background-color: #ffffff; 
  }

  &__item::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(100% - 20px);
    border-bottom: 1px dashed $grey-color;

    @media screen and (min-width: 768px) {
      top: 50%;
    }
  }

  &__free {
    display: none;
    @media screen and (min-width: 768px) {
      text-align: center;
      background-color: #fff;
      z-index: 3;
      display: block;
      @include font($grey-color, 141%, 17px, 400);
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__text {
    z-index: 3;
    // padding-right: 10px;
    @include font($grey-color, 141%, 17px, 400);
    margin-bottom: 20px;
  }

  &__price {
    z-index: 3;
    padding-left: 10px;
    @include font($grey-color, 141%, 17px, 400);
    text-align: left;
  }

  &__element:first-child {
    display: none;

    @media screen and (min-width: 768px) {
      background-color: $grey-color;
      z-index: 4;
      border-radius: 8px;
      position: relative;
      display: flex;
    }

    & p {
      background-color: $grey-color;
    }
  }

  &__text1 {
    @media screen and (min-width: 768px) {
      background-color: transparent;
      @include font(#fff, 140%, 20px, 600);
      text-align: center;
    }
  }

  &__text1:first-child {
    margin: 0 10px 0 170px;
  }

  &__text1:nth-child(2) {
    margin: 0 0 0 210px;
  }

  &__text2 {
    // width: 320px;
    text-align: center;
    background-color: white;
    z-index: 1;

    @media screen and (min-width: 768px) {
      // width: 200px;
      text-align: left;
    }

    @media screen and (min-width: 1290px) {
      // width: 420px;
      padding: 0 10px 0 0;
    }
  }

  &__text3 {
    position: absolute;
    left: 46%;
    // width: 110px;
    text-align: center;
    padding: 0 10px;
    z-index: 1;
    background-color: white;
  }

  &__item:nth-child(5) &__text3, &__item:nth-child(6) &__text3 {
    left: 48%;
  }

  &__disclaimer {
    @include font($dark-color, 188%, 16px, 400);
    margin: 0;
    text-align: left
  }

  &__mobile-subtitle {
    @include font($dark-color, 131%, 26px, 600);
    text-align: center;
    margin-bottom: 20px;
  }

  // &__element{
  //   justify-content: flex-start;
  // }

  &__price2 {
    // width: 320px;
    text-align: center;
    background-color: white;
    z-index: 1;

    @media screen and (min-width: 768px) {
      // width: 200px;
      text-align: right;
      margin-left: 190px;
      padding: 0 0 0 10px;
    }
  }

  // &__text2, &__price2 {
  //   flex: 1;
  //   text-align: left;
  //   @include font($grey-color, 141%, 17px, 400);
  
  //   @media screen and (min-width: 768px) {
  //     text-align: center;
  //   }
  // }

  &__mobile-title {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    &__text1 {
      background-color: transparent;
      @include font(#fff, 140%, 20px, 600);
      // width: 420px;
      text-align: center;
    }
    
    &__mobile-list {
      display: none;
    }
    &__mobile-title2 {
      display: none;
    }
    &__mobile-suptitle {
      display: none;
    }
  }
}


