@import "../../../styles/vars.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";

.kyivPayment {
  @include block-model(60px 0, none, 0, 0);
  overflow-x: hidden;
  background-color: $light-color;
  
  @media screen and (min-width: 1290px) {
    @include block-model(70px 0, none, 0, 0);
  }

  &__title {
    text-align: center;
    @include block-model(0, none, 0, 0 0 40px);
    @include font($dark-color, 1.33, 30px, 600);

    @media screen and (min-width: 1290px) {
      @include font($dark-color, 1.33, 40px, 600);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__bg {
    @include size(100px, 100px);
    @include block-model(25px, none, 50%, 0 auto);

    background-color: $yellow-color;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    @include size(50px, 50px);
    // fill: #fff;
  }

  &__subtitle {
    text-align: center;
    @include block-model(0, none, 0, 20px 0);
    @include font($dark-color, 1.3, 26px, 600);
  }

  &__text {
    text-align: center;
    @include font($dark-color, 1.87, 16px, 400);
  }
}