@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

.topic {
  padding-top: 0px;

  @media screen and (min-width: 1290px) {
    padding-top: 40px;
    background-color: #f8f8f8;
  }

  &__container {
    background-image: url(../../../images/delivery/mobile/1x/delivery@1x.webp);
    padding-top: 40px;
    height: 524px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;

    @media (min-display-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../../images/delivery/mobile/2x/delivery@2x.webp);
    }

    @media screen and (min-width: 1290px) {
      background-image: url(../../../images/delivery/desktop/1x/delivery@1x.webp);
      padding-left: 50px;
      padding-top: 88px;
      width: 1290px;
      height: 454px;
      border-radius: 8px;

      @media (min-display-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../../images/delivery/desktop/2x/delivery@2x.webp);
      }
    }
  }

  &__title {
    color: $dark-color;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 133%;
    margin: 0 auto 30px;
    max-width: 450px;

    @media screen and (min-width: 420px) {
      font-size: 30px;
    }

    @media screen and (min-width: 1290px) {
      text-align: left;
      margin: 0 0 30px 0;
      font-size: 40px;
      line-height: 120%;
    }
  }

  &__subtitle {
    color: $dark-color;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    margin: 0 auto 20px;
    max-width: 450px;

    @media screen and (min-width: 430px) {
      font-size: 20px;
      line-height: 140%;
    }

    @media screen and (min-width: 1290px) {
      margin: 0 0 20px 0;
      font-size: 26px;
      line-height: 131%;
      text-align: left;
    }
  }

  &__text {
    color: $dark-color;
    text-align: center;
    font-size: 10px;
    line-height: 190%;
    margin: 0 auto;
    max-width: 290px;

    @media screen and (min-width: 430px) {
      font-size: 15px;
      max-width: 450px;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1290px) {
      margin: 0;
      font-size: 15px;
      line-height: 190%;
      text-align: left;
    }
  }
}
