body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

html {
  overflow-x: hidden;
  width: 100%;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}