@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

.kyiv {
  padding-top: 50px;

  &__title {
    color: $dark-color;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 133%;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 120%;
      text-align: left;
      max-width: 520px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    fill: $yellow-color;
    display: block;
    flex-shrink: 0;
  }

  &__text {
    color: $dark-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    max-width: 520px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__element {
    color: $dark-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 40px;
    max-width: 520px;
  }

  @media screen and (min-width: 1290px) {
    &__container {
      display: flex;
      gap: 30px;
    }
  }

  &__container {
    position: relative;
  }

  &__square {
    position: absolute;
    top: 80%;
    right: 40%;
    width: 250px;
    height: 250px;
    border-radius: 420px;
    background-color: $yellow-color;
    overflow: hidden;
    padding: 57px 25px;
    border: 3px solid $light-color;

    @media screen and (max-width: 420px) {
      width: 200px;
      height: 200px;
      padding: 27px 20px;
      top: 84%;
    }

    @media screen and (min-width: 768px) {
      top: 72%;
      left: 0;
      width: 420px;
      height: 420px;
      padding: 107px 40px;
    }

    @media screen and (min-width: 1290px) {
      top: 33%;
      left: 40%;
      padding: 107px 40px;
    }
  }

  &__squareTitle {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 113%;
    margin-bottom: 10px;
    max-width: 200px;

    @media screen and (max-width: 420px) {
      font-size: 15px;
    }
    
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 131%;
      margin-bottom: 20px;
      max-width: max-content;
    }
  }

  &__squareText {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 129%;
    max-width: 200px;

    @media screen and (max-width: 420px) {
      font-size: 10px;
    }

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 140%;
      max-width: max-content;
    }
  }
}
