@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

.kyiv {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #f8f8f8;
  text-align: center;

  &__title {
    color: $dark-color;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 133%;
    margin: 0 auto 40px;

    @media screen and (min-width: 420px) {
      font-size: 30px;
      line-height: 133%;
    }

    @media screen and (min-width: 768px) {
      line-height: 120%;
      max-width: 520px;
    }

    @media screen and (min-width: 1290px) {
      text-align: left;
      font-size: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
    padding: 0;
  }

  &__icon {
    width: 70px;
    height: 70px;
    fill: $yellow-color;
    display: block;
    flex-shrink: 0;
  }

  &__text {
    color: $dark-color;
    font-size: 13px;
    font-weight: 600;
    line-height: 140%;
    max-width: 520px;
    text-align: left;
    margin: 0;

    @media screen and (min-width: 420px) {
      font-size: 15px;
    }

    @media screen and (min-width: 768px) {
      justify-content: left;
      font-size: 20px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 1290px) {
      justify-content: left;
    }
  }

  &__element {
    color: $dark-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 40px;
    max-width: 520px;
  }

  @media screen and (min-width: 1290px) {
    &__container {
      display: flex;
      gap: 30px;
    }
  }

  &__container {
    position: relative;
  }

  &__square {
    position: absolute;
    top: 80%;
    right: 40%;
    width: 180px;
    height: 180px;
    border-radius: 420px;
    background-color: $yellow-color;
    overflow: hidden;
    border: 3px solid $light-color;

    @media screen and (min-width: 420px) {
      width: 220px;
      height: 220px;
    }

    @media screen and (min-width: 768px) {
      top: 72%;
      width: 420px;
      height: 420px;
    }

    @media screen and (min-width: 1290px) {
      top: 33%;
      left: 40%;
    }
  }

  &__squareBox {
    padding: 40px 20px;

    @media screen and (min-width: 420px) {
      padding: 50px 20px;
    }

    @media screen and (min-width: 768px) {
      padding: 107px 40px;
    }

    @media screen and (min-width: 1290px) {
      padding: 107px 40px;
    }
  }

  &__squareTitle {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 113%;
    margin-bottom: 10px;
    max-width: 200px;
    margin: 0 0 20px 0;

    @media screen and (min-width: 420px) {
      font-size: 12px;
    }
    
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 131%;
      margin-bottom: 20px;
      max-width: max-content;
    }
  }

  &__squareText {
    color: #fff;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
    line-height: 129%;
    max-width: 200px;
    margin: 0;

    @media screen and (min-width: 420px) {
      font-size: 11px;
    }

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 140%;
      max-width: max-content;
    }
  }
}

img {
  margin: 0 auto;
}
