.showRoom {
  padding: 60px 0;

  overflow-x: hidden;
  background-color:#F8F8F8;

  &__container {
    @media screen and (min-width: 1290px) {
      display: flex;
      justify-content: center;
    }
  }

  &__box {
    max-width: 520px;
  }

  &__title {
    color: #2b2929;
    line-height: 1.33;
    font-size: 30px;
    font-weight: 600;

    @media screen and (min-width: 1290px) {
      color: #2b2929;
      line-height: 1.33;
      font-size: 40px;
      font-weight: 600;
    }
  }

  &__subtitle {
    margin: 30px 0 20px;

    color: #2b2929;
    line-height: 1.3;
    font-size: 26px;
    font-weight: 600;
  }

  &__text {
    color: #2b2929;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 600;
  }

  &__btn {
    padding: 13px 20px;
    border-radius: 8px;
    margin: 40px auto 20px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    outline: solid 0 #FFBC57;

    background-color: #FFBC57;

    transition: 250ms ease-in;

    &:hover,
    &:focus {
      background-color: #f3ab3f;
      transform: scale(1.1);
      // outline: solid 4px #f3ab3f;
    }

    @media screen and (min-width: 1290px) {
      padding: 13px 20px;
      border-radius: 8px;
      margin: 40px 0 0;
    }
  }

  &__span {
    color: #fff;
    line-height: 1.26;
    font-size: 19px;
    font-weight: 600;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  &__img {
    width: 480px;

    @media screen and (min-width: 1290px) {
      width: 740px;
    }
  }
}
