.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgba(43, 41, 41, 1);

  &__mainContainer {
    @media screen and (min-width: 1290px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logoBox {
    display: none;

    @media screen and (min-width: 1290px) {
      justify-content: start;
      display: flex;
      gap: 9px;
      margin-bottom: 40px;
      justify-content: center;
    }
  }

  &__logoBoxMob {
    justify-content: start;
    display: flex;
    gap: 9px;
    margin-bottom: 40px;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__logoSofa {
    height: 50px;
    width: 74px;
    fill: #FFBC57;
  }

  &__logoText {
    width: 168px;
    height: 42px;
  }

  &__socialsBoxDesk {
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__textJoin {
    color: #fff;
    
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    margin-bottom: 15px;
    text-align: left;
  }

  &__boxJoin {
    margin-bottom: 30px;
    display: flex;
    align-items: start;
  }

  &__svg {
    width: 39px;
    height: 39px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__instagram {
    fill: rgba(175, 36, 209, 1);
    border: 1px solid rgb(174, 36, 209);
  }

  &__facebook {
    fill: rgba(23, 120, 208, 1);
    border: 1px solid rgb(23, 119, 208);
    margin-right: 15px;
  }

  &__boxHelp {
    display: flex;
    margin-bottom: 40px;
  }

  &__svgBug {
    background-color: rgba(117, 183, 59, 1);
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  &__svgWhatsapp {
    fill: #fff;
    width: 24px;
    height: 24px;
  }

  &__telegram {
    margin-right: 15px;
    margin-left: 15px;
  }

  &__textHelp {
    color: #fff;
    
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    margin-bottom: 15px;
    text-align: left;
  }

  &__paySvg {
    fill: #B1B1B1;
    height: 30px;
    flex-shrink: 0;
  }

  &__paySvgVisa {
    width: 70px;
    margin-right: 20px;
  }

  &__paySvgMastercard {
    width: 89px;
  }

  &__mainList {
    display: none;
    gap: 83px;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__informations,
  &__categories,
  &__customers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    color: white;
    
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    transition: color 250ms ease-in-out;

    &:hover {
      color: #FFBC57;
    }
  }

  &__linkActive {
    color: #fff;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
  }

  &__call {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1290px) {
      margin-bottom: 32px;
      justify-content: start;
    }
  }

  &__adress {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1290px) {
      justify-content: start;
    }
  }

  &__schedule {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1290px) {
      justify-content: start;
    }
  }

  &__svgPhoneBorder,
  &__adressSvgBorder,
  &__calendarBorder {
    border: 2px solid #b1b1b166;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    display: none;

    @media screen and (min-width: 1290px) {
      display: flex;
    }
  }

  &__svgPhone,
  &__adressSvg,
  &__calendar {
    fill: #B1B1B1;
    width: 23px;
    height: 23px;
    display: none;

    @media screen and (min-width: 1290px) {
      display: block;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__number {
    color: #fff;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
    cursor: pointer;
    transition: color 250ms ease-in-out;

    &:hover {
      color: #FFBC57;
    }
  }

  &__callMe {
    color: #FFBC57;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__adressText {
    text-align: center;
    color: #fff;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    width: 174px;
    transition: color 250ms ease-in-out;

    &:hover {
      color: #FFBC57;
    }

    @media screen and (min-width: 1290px) {
      text-align: left;
    }
  }

  &__scheduleText {
    color: #fff;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    width: 174px;
    text-align: center;

    @media screen and (min-width: 1290px) {
      text-align: left;
    }
  }

  &__socialsBoxMob {
    margin-top: 30px;

    @media screen and (min-width: 1290px) {
      display: none;
    }
  }

  &__textJoinMob {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__boxJoinMob {
    display: flex;
    justify-content: center;
  }

  &__textHelpMob {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
  }

  &__boxHelpMob {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__boxPayMob {
    display: flex;
    justify-content: center;
  }

  &__copyright {
    padding-top: 15px;
    border-top: solid rgba(61, 61, 61, 1);
  }

  &__copyrightText {
    color: #B1B1B1;
    text-align: center;
    
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
  }
}
  
  .footerMenu {
    margin-bottom: 40px;
  
    @media screen and (min-width: 1290px) {
      display: none;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 100%;
      gap: 5px;
    }
  
    &__item {
      position: relative;
      width: 100%;
      padding-top: 11px;
      background: #1a1a1a;
    }
  
    &__input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  
    &__label {
      display: flex;
      align-items: center;
    }
  
    &__title {
      color: #fff;
      
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;
      margin-right: 20px;
      margin-left: auto;
    }
  
    &__arrow {
      width: 6.247px;
      height: 10.486px;
      flex-shrink: 0;
      fill: #fff;
      transform: rotate(90deg);
      margin-right: auto;
    }
  
    &__text {
      max-width: 230px;
      text-align: center;
    }
  
    &__paragraph {
      max-width: 1289px;
      margin-top: 10px;
      max-height: 0;
      overflow: hidden;
      transition: all 0.35s;
    }
  
    &__categories,
    &__informations,
    &__customers {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      background-color: rgba(43, 41, 41, 1);
      padding-bottom: 15px;
      padding-top: 20px;
    }
  
    &__categorie,
    &__information,
    &__customer {
      display: flex;
      justify-content: center;
    }
  
    &__link {
      color: white;
      
      font-size: 17px;
      font-weight: 400;
      line-height: 1.41;
  
      &:hover {
        color: #FFBC57;
      }
    }
  
    &__item &__input:checked ~ &__paragraph {
      display: block;
      transition: all 1.5s;
      max-height: 520px;
  
      @media screen and (min-width: 1200px) {
        max-height: 1000px;
        transition: all 0.35s;
      }
    }
  }
  
  
//   .backToTop {
//     background: #3E64FF;
//     border-radius: 50%;
//     position: fixed;
//     bottom: -50px;
//     padding: 10px 12px;
//     right: 50px;
//     cursor: pointer;
//     transition: 0.3s all;
//   }
  
//   #backToTopBtn {
//     display: none;
//     position: fixed;
//     bottom: 10px;
//     right: 10px;
//     color: #fff;
//     background-color: transparent;
//     border: none;
//     border-radius: 5px;
//     padding: 10px 20px;
//     cursor: pointer;
//   }
  
//   #backToTopBtn > svg {
//    width: 50px;
//    height: 50px;
//    fill: #FFBC57;
//    transform: rotate(180deg);
//    backdrop-filter: blur(10px);
//   }
  
  
//   @media screen and (min-width: 768px) {
//     #backToTopBtn {
//       display: none;
//     }
//   }
  