.article {
&__img {
    width: 1070px;
    height: 380px;
    border-radius: 8px;
  }

  &__titles {
    color: var(--Theme-Dark, #2b2929);
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__info {
    color: var(--Theme-Dark, #2b2929);
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
  }

  &__additionally {
    color: var(--Theme-Dark, #2b2929);
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  &__list {
    flex-direction: column;
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    gap: 15px;
  }

  &__item {
    display: flex;
    gap: 15px;
  }

  &__item::before {
    content: "";
    display: block;

    width: 32px;
    height: 32px;

    background-image: url(../images/check.svg);
  }

  &__svgLeft {
    float: left;
    display: flex;
    margin-right: 15px;
  }

  &__svg {
    fill: yellow;
    width: 32px;
    height: 70px;
  }

  &__button {
    flex-wrap: nowrap;
    display: flex;
    width: 300px;
    height: 50px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Theme-Yellow, #ffbc57);
    color: #fff;

    text-align: center;

    font-family: "Proxima Nova";
    font-size: 19px;

    font-weight: 600;
    line-height: 24px;
    position: relative;
  }

  &__listButton {
    padding-top: 40px;
    display: block;
    justify-content: space-between;
  }

  &__buttonSvgLeft {
    width: 24px;
    height: 24px;
    fill: #fff;
    position: absolute;
    left: 35px;
  }

  &__buttonSvgRight {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  &__itemButton {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    .article {
      &__listButton {
        display: flex;
      }

      &__item {
        width: 100%;
      }
    }
  }
}
