@import "../../../styles/placeholders.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/vars.scss";

.article {
  &__container {
    @extend %flex-center;
    flex-direction: column;

    & * {
      max-width: 410px;

      @media screen and (min-width: 1290px) {
        max-width: 1070px;
      }
    }
  }

  &__align {
    @media screen and (min-width: 1290px) {
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__title {
    @include font($dark-color, 1.33, 30px, 600);

    @media screen and (min-width: 1290px) {
      font-size: 48px;
    }
  }

  &__img {
    margin: 30px 0 40px;
    max-width: 410px;

    @media screen and (min-width: 1290px) {
      margin: 40px 0 40px;
      max-width: 1070px;
    }
  }

  &__descr {
    @include font($dark-color, 1.87, 16px, 400);
  }

  &__subtitle {
    margin: 40px 0 20px;
    @include font($dark-color, 1.4, 20px, 600);

    @media screen and (min-width: 1290px) {
      margin: 40px 0 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    gap: 15px;

    @media screen and (min-width: 1290px) {
      justify-content: start;
    }

    &::before {
      content: "";

      display: block;
      @include size(32px, 32px);

      background-image: url('../../../images/blog-article/mark.svg');
    }
  }

  &__paragraph {
    width: 100%;
    @include font($dark-color, 1.87, 16px, 400);
    text-align: start;

    @media screen and (min-width: 480px) {
      max-width: 363px;
    }

    @media screen and (min-width: 1290px) {
      max-width: 1070px;
    }
  }

  &__text {
    margin: 40px 0;
    @include font($dark-color, 1.87, 16px, 400);
  }

  &__buttons {
    @extend %flex-center;
    flex-direction: column-reverse;
    gap: 30px;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      gap: 446px;
    }
  }

  &__btn {
    @extend %flex-center2;
    padding: 13px 51px;
    width: 100%;
    gap: 15px;
    border-radius: 8px;

    background-color: $yellow-color;

    transition: all 250ms ease-in;

    &:hover,
    &:focus {
      background-color: #f3ab3f;
      transform: translateY(-25%) rotate(-02deg);
    }

    @media screen and (min-width: 480px) {
      max-width: 402px;
    }

    & > span {
      text-align: center;
      @include font(#fff, 1.26, 19px, 600);
    }
  }

  &__icon {
    @include size(24px, 24px);
    fill: #fff;

    &--right {
      transform: rotate(180deg);
    }
  }
}
