$primary-color: #ffbc57;
$primary-hover: #e5a94a;

.conditions {
  background-color: #f8f8f8;
  padding-bottom: 50px;
  margin-top: 59px;

  &__list {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__item {
    display: flex;
    gap: 20px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__iconBc {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;

    &:hover {
      transform: rotate(15deg);
    }
  }

  &__svg {
    width: 33.794px;
    height: 40px;
    fill: $primary-color;
  }

  &__subtitle {
    color: dark;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 11px;
    text-align: left;

    @media screen and (min-width: 1290px) {
      margin-bottom: 0;
    }
  }

  &__textBox {
    @media screen and (max-width: 480px) {
      width: 219px;
    }
  }

  &__text {
    color: grey;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
    width: 100%;
    text-align: left;

    @media screen and (min-width: 1290px) {
      width: 200px;
    }
  }

  &__more {
    display: flex;
    gap: 13px;
    align-items: center;
    margin-top: 11px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
      text-decoration: none;
    }

    span {
      color: $primary-color;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.46;
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
    fill: $primary-color;
  }
}