.conditions {
  background-color: #F8F8F8;
padding-bottom: 50px;
  &__list {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: 1290px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__item {
    display: flex;
    gap: 20px;
  }

  &__iconBc {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__svg {
    width: 33.794px;
    height: 40px;
    color: var(--Theme-Yellow, #FFBC57);
  }

  &__subtitle {
    color: dark;

    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 11px;
    text-align: left;

    @media screen and (min-width: 1290px) {
      margin-bottom: 0;
    }
  }

  &__textBox {
    @media screen and (max-width: 480px) {
      width: 219px;
    }
  }

  &__text {
    color: grey;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
    width: 100%;
    text-align: left;

    @media screen and (min-width: 1290px) {
      width: 200px;
    }
  }

  &__more {
    display: flex;
    gap: 13px;
    align-items: center;
    margin-top: 11px;
  }

  &__more span {
    color: var(--Theme-Yellow, #FFBC57);

    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
  }
}
