@import '../../styles/placeholders.scss';
@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.article {
  background-color: $light-color;
  padding: 40px 0 60px;
}

.container { 
  max-width: 1070px;
  margin: 0 auto;
}
