.reviews__reviewsFormBox {
  display: flex;
  gap: 30px;
  padding-top: 40px;
  flex-direction: column;
  background-color: #F8F8F8;
  align-items: stretch;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
  }

  > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
