@import "../../../styles/mixins.scss";
@import "../../../styles/placeholders.scss";
@import "../../../styles/vars.scss";

.ukraine {
  &__container {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin: 70px auto;

    @media screen and (min-width: 1290px) {
      display: flex;
      flex-direction: row;
    }
  }

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__title {
    color: $dark-color;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 133%;
    margin: 0 auto 40px;

    @media screen and (min-width: 420px) {
      font-size: 30px;
      line-height: 133%;
    }

    @media screen and (min-width: 768px) {
      line-height: 120%;
      max-width: 520px;
    }

    @media screen and (min-width: 1290px) {
      text-align: left;
      font-size: 40px;
      line-height: 120%;
      max-width: 520px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    fill: $yellow-color;
    display: block;
    flex-shrink: 0;
  }

  &__text {
    color: $dark-color;
    font-size: 13px;
    font-weight: 600;
    line-height: 140%;
    max-width: 520px;
    text-align: left;
    margin: 0 auto;

    @media screen and (min-width: 420px) {
      font-size: 15px;
    }

    @media screen and (min-width: 768px) {
      justify-content: left;
      font-size: 20px;
    }
  }

  &__element {
    color: $dark-color;
    font-size: 13px;
    font-weight: 600;
    line-height: 140%;
    max-width: 520px;
    text-align: left;
    margin: 30px auto;

    @media screen and (min-width: 420px) {
      font-size: 15px;
    }

    @media screen and (min-width: 768px) {
      justify-content: left;
      font-size: 20px;
    }
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__square {
    position: absolute;
    top: 73%;
    right: 33%;
    width: 180px;
    height: 180px;
    border-radius: 420px;
    background-color: $yellow-color;
    overflow: hidden;
    border: 3px solid $light-color;

    @media screen and (min-width: 420px) {
      width: 220px;
      height: 220px;
    }

    @media screen and (min-width: 768px) {
      top: 72%;
      right: 30%;
      width: 420px;
      height: 420px;
    }

    @media screen and (min-width: 1290px) {
      top: 40%;
      left: 50%;
    }
  }

  &__squareTitle {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 113%;
    margin-bottom: 10px;
    margin: 0 0 20px 0;
    padding: 50px 20px;

    @media screen and (min-width: 420px) {
      font-size: 12px;
      padding: 75px 20px;
    }
    
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 131%;
      margin-bottom: 20px;
      max-width: max-content;
      padding: 107px 40px;
    }
  }

  &__warning {
    color: $dark-color;
    font-size: 13px;
    font-weight: 400;
    line-height: 188%;
    text-align: left;
    margin: 0 0 20px 0;

    @media screen and (min-width: 420px) {
      font-size: 15px;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}
